<app-header></app-header>
<app-menu></app-menu>
<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">

            <div class="page-header">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="title">
                            <h4>{{eq_name}}</h4>
                        </div>
                        <nav aria-label="breadcrumb" role="navigation">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a [routerLink]="[ '/home']" href="javascript:;">หน้าหลัก</a>
                                </li>
                                <li class="breadcrumb-item"><a [routerLink]="[ '/equipment']"
                                        href="javascript:;">อุปกรณ์</a></li>
                                <li class="breadcrumb-item active" aria-current="page">{{eq_name}}</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>

            <div class="pd-20 card-box mb-30">
                <div class="clearfix mb-20">
                    <div class="pull-left">
                        <h4 class="text-blue h4">รายการอุปกรณ์</h4>
                    </div>
                    <div class="pull-right">
                        <button type="button" class="btn btn-warning"
                            (click)="insert_eq_detail()">เพิ่มรายการอุปกรณ์</button>
                    </div>
                </div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">SN.</th>
                            <th scope="col">ชื่อรายการอุปกรณ์</th>
                            <th scope="col">จำนวน</th>
                            <th scope="col">สถานะ</th>
                            <th scope="col">จัดการ</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of backendData; index as i ">
                            <td>{{item.sn}}</td>
                            <td>{{item.name}}</td>
                            <td>{{item.count}}</td>
                            <td>{{item.status}}</td>
                            <td>
                                <div class="btn-list">
                                    <button class="btn btn-success btn-sm" type="button" value="submit">
                                        <i class="icon-copy fa fa-pencil-square-o btn-size" aria-hidden="true"
                                            [routerLink]="['/equipment/edit/sn']"></i></button>

                                    <button class="btn btn-danger btn-sm" type="button" value="submit"
                                        (click)="deleteRow(item)"><i class="icon-copy fa fa-trash btn-size"
                                            aria-hidden="true"></i></button>
                                </div>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
        <app-footer>
        </app-footer>

    </div>