<app-header></app-header>
<app-menu></app-menu>
<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">

            <div class="page-header">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="title">
                            <h4>{{eq_name}}</h4>
                        </div>
                        <nav aria-label="breadcrumb" role="navigation">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a [routerLink]="[ '/home']"
                                        href="javascript:;">หน้าหลัก</a>
                                </li>
                                <li class="breadcrumb-item"><a [routerLink]="[ '/equipment']"
                                        href="javascript:;">อุปกรณ์</a></li>
                                <li class="breadcrumb-item active" aria-current="page">{{eq_name}}</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>

            <div class="pd-20 card-box mb-30">
                <div class="clearfix mb-20">
                    <div class="pull-left">
                        <h4 class="text-blue h4">รายการอุปกรณ์</h4>
                    </div>
                    <div class="pull-right">
                        <div class="col-md-12 col-sm-12">
                            <div class="row">
                                <div class="col-md-7">
                                    <form class="tab-wizard wizard-circle wizard" autocomplete="off">
                                        <div class="form-group mb-0">
                                            <input list="search" type="text" class="form-control search-input"
                                                placeholder="ค้นหาที่นี่..." [(ngModel)]="selectedUser"
                                                (input)="filterUsers()" name="serachCus" id="serachCus">
                                            <!-- <datalist id="search">
                                            <option *ngFor="let option of serach; let i = index" [value]="option.value">
                                                {{option.value}}
                                            </option>
                                        </datalist> -->
                                        </div>
                                    </form>
                                </div>
                                <div class=" leftSearch">
                                    <button type="button" class="btn btn-warning"
                                    data-toggle="modal" data-target="#eq-add" >เพิ่มรายการอุปกรณ์</button>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="eq-add" tabindex="-1" role="dialog"
                            aria-labelledby="myLargeModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="myLargeModalLabel">เพิ่มอุปกรณ์
                                        </h4>
                                        <button type="button" class="close" data-dismiss="modal"
                                            aria-hidden="true">×</button>
                                    </div>
                                    <div class="modal-body l">
                                        <form>
                                            <div>
                                                <div class="form-group">
                                                    <label for="sn">SN.</label>
                                                    <input type="text" class="form-control" id="sn" name="id"
                                                        [(ngModel)]="eqd_new.id" required="required">
                                                </div>
                                                <div class="form-group">
                                                    <label for="name">ชื่อรายการอุปกรณ์</label>
                                                    <input type="text" class="form-control" id="name"
                                                        name="eq_detail_name" [(ngModel)]="eqd_new.eq_detail_name"
                                                        required="required">
                                                </div>
                                                <div class="form-group">
                                                    <label for="count">จำนวน</label>
                                                    <input type="number" class="form-control" id="count"
                                                        name="eq_detail_amount" [(ngModel)]="eqd_new.eq_detail_amount"
                                                        required="required">
                                                </div>
                                                <p>สถานะ: "ว่าง"</p>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                        <button type="reset" class="btn btn-primary" data-dismiss="modal"
                                            (click)="addEquip()" value="submit">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <table class="table table-striped" id="myTable">
                    <thead>
                        <tr>
                            <th class="tab-23" scope="col">SN.</th>
                            <th class="tab-30" scope="col">ชื่อรายการอุปกรณ์</th>
                            <th class="tab-15 wrapper" scope="col">จำนวนคงเหลือ</th>
                            <th class="tab-10 wrapper" scope="col">สถานะ</th>
                            <th class="tab-20 wrapper" scope="col">จัดการ</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let eqd of eqd_data | paginate : {
                            itemsPerPage: tableSize,
                            currentPage: page,
                            totalItems: count
                          };
                    let i = index">
                            <td class="tab-22">{{eqd.id}}</td>
                            <td class="tab-30">{{eqd.eq_detail_name}}</td>
                            <td class="wrapper tab-15">{{eqd.eq_detail_amount}}</td>
                            <td class="tab-10 wrapper">{{eqd.eq_detail_status}}</td>
                            <td class="tab-25 wrapper">
                                <div class="btn-list">
                                    <button title="แก้ไข" class="btn btn-success btn-sm" type="button" value="submit"
                                        data-toggle="modal" data-target="#Edit-eq" (click)="getIdEqd(eqd.id)">
                                        <i class="icon-copy fa fa-pencil-square-o btn-size"
                                            aria-hidden="true"></i></button>

                                    <button title="ลบ" class="btn btn-danger btn-sm" type="button" value="submit"
                                        (click)="delete(eqd.id, eqd.eq_detail_name)"><i
                                            class="icon-copy fa fa-trash btn-size" aria-hidden="true"></i></button>

                                    <button class="btn btn-info btn-sm" type="button" title="ประวัติการใช้งาน"
                                        value="submit" data-toggle="modal" data-target="#eq-history"
                                        (click)="getEqDetailHistory(eqd.id)"><i class="icon-copy fi-clock btn-size"
                                            aria-hidden="true"></i></button>
                                </div>

                                <div class="modal fade" id="Edit-eq" tabindex="-1" role="dialog"
                                    aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title" id="myLargeModalLabel">แก้ไขรายละเอียดอุปกรณ์
                                                </h4>
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-hidden="true">×</button>
                                            </div>
                                            <div class="modal-body l">
                                                <form>
                                                    <div>
                                                        <div class="form-group">
                                                            <label for="sn">SN.</label>
                                                            <input type="text" class="form-control" id="sn" name="id"
                                                                [(ngModel)]="eqd_edit.id" required="required">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="name">ชื่อรายการอุปกรณ์</label>
                                                            <input type="text" class="form-control" id="name"
                                                                name="eq_detail_name"
                                                                [(ngModel)]="eqd_edit.eq_detail_name"
                                                                required="required">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="count">จำนวน</label>
                                                            <input type="number" class="form-control" id="count"
                                                                name="eq_detail_amount"
                                                                [(ngModel)]="eqd_edit.eq_detail_amount"
                                                                required="required">
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-danger"
                                                    data-dismiss="modal">Close</button>
                                                <button type="reset" class="btn btn-primary" data-dismiss="modal"
                                                    (click)="edit_eqd()" value="submit">Save</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal fade bs-example-modal-lg" id="eq-history" tabindex="-1" role="dialog"
                                    aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-lg modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title" id="myLargeModalLabel">ประวัติการใช้อุปกรณ์
                                                </h4>
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-hidden="true">×</button>
                                            </div>
                                            <div class="modal-body">
                                                <div *ngIf="today">
                                                    <p class="wrapperhistory">ไม่มีประวัติการใช้งานอุปกรณ์นี้</p>
                                                </div>
                                                <table class="table table-striped" *ngIf="todayShow">
                                                    <thead>
                                                        <tr>
                                                            <th class="tab-20" scope="col">เลขที่ใบเสร็จ</th>
                                                            <th class="tab-20" scope="col">วันที่รับงาน</th>
                                                            <th class="tab-30 l" scope="col">ลูกค้า</th>
                                                            <th class="tab-30" scope="col">หมวดหมู่</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let history of eqd_history | paginate : {
                                                            itemsPerPage: tableSize,
                                                            currentPage: page_history,
                                                            totalItems: count
                                                          }; let i = index">
                                                            <td class="tab-20">{{history.em_id}}</td>
                                                            <td class="tab-20">{{history.date_get_job}}</td>
                                                            <td class="tab-30 l">{{history.cus_fullname}}</td>
                                                            <td class="tab-30">{{history.category}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <div class="clearfix justify-content-center wrapper">
                                                    <pagination-controls previousLabel="Prev" nextLabel="Next"
                                                        (pageChange)="onHistoryDataChange($event)">
                                                    </pagination-controls>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-danger"
                                                    data-dismiss="modal">ปิด</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>

                    </tbody>
                </table>
                <div class="clearfix justify-content-center wrapper">
                    <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
                    </pagination-controls>
                </div>
            </div>
        </div>
        <app-footer>
        </app-footer>

    </div>