<app-header></app-header>
<app-menu></app-menu>
<div class="mobile-menu-overlay"></div>
<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <div class="page-header">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="title">
                            <h4>ใบเสร็จ</h4>
                        </div>
                        <nav aria-label="breadcrumb" role="navigation">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a [routerLink]="[ '/home']">หน้าหลัก</a></li>
                                <li class="breadcrumb-item active" aria-current="page">ใบเสร็จ</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="invoice-wrap">
                <div class="invoice-box">
                    <div class="invoice-header">
                        <div class="logo text-center">
                            <img src="vendors/images/deskapp-logo.png" alt="">
                        </div>
                    </div>
                    <img src="assets/vendors/images/deskapp-.png" alt="" class="center">
                    <br>
                   
                    <div class="row pb-30">
                        <div class="col-md-6">
                            <h5 class="mb-15">Client Evvir Service</h5>
                            <p class="font-14 mb-5">วันที่ : <strong class="weight-600">21 ธันวาคม 2563</strong></p>
                            <p class="font-14 mb-5">เลขที่ใบเสร็จ : <strong class="weight-600">1234</strong></p>
                        </div>
                        <div class="col-md-6">
                            <div class="text-right">
                                <p class="font-14 mb-5">Envirservice.co.th</p>
                                <p class="font-14 mb-5">42 ซอยรามอินทรา 14 แยก 9 แขวง ท่าแร้ง เขต บางเขน</p>
                                <p class="font-14 mb-5">กรุงเทพมหานคร </p>
                                <p class="font-14 mb-5">10220</p>
                            </div>
                        </div>
                    </div>
                    <div class="invoice-desc pb-30">
                        <div class="invoice-desc-head clearfix">
                            <div class="invoice-rate">ลำดับที่</div>
                            <div class="invoice-sub">อุปกรณ์</div>
                            <div class="invoice-hours">หมวดหมู่</div>
                            <div class="invoice-subtotal">จำนวน</div>
                        </div>
                        <div class="invoice-desc-body">
                            <ul>
                                <li class="clearfix">
                                    <div class="invoice-rate">1</div>
                                    <div class="invoice-sub">CO2</div>
                                    <div class="invoice-hours">เช่า-ยืม</div>
                                    <div class="invoice-subtotal"><span class="weight-600">2</span></div>
                                </li>
                                <li class="clearfix">
                                    <div class="invoice-rate">2</div>
                                    <div class="invoice-sub">CO2/NOx</div>
                                    <div class="invoice-hours">ทดสอบ</div>
                                    <div class="invoice-subtotal"><span class="weight-600">1</span></div>
                                </li>
                                <li class="clearfix">
                                    <div class="invoice-rate">3</div>
                                    <div class="invoice-sub">CO2NOF2</div>
                                    <div class="invoice-hours">ซื้อ</div>
                                    <div class="invoice-subtotal"><span class="weight-600">3</span></div>
                            </ul>
                        </div>
                    </div>
                    <div class="warpper">
                        <div class="btn-list">
                            <button type="button" class="btn btn-success">ดาวน์โหลด PDF</button>
                            <button type="button" class="btn btn-secondary btn-md">พิมพ์</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>