.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .warpper {
    text-align: center;
}

.right{
  text-align: right;
}

.w {
  width: 50%;
  word-wrap: break-word;
  text-align: right;
  margin-left: 50%;
}