<app-header></app-header>
<app-menu></app-menu>
<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <div class="page-header">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="title">
                            <h4>ใบเสร็จ</h4>
                        </div>
                        <nav aria-label="breadcrumb" role="navigation">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a [routerLink]="[ '/home']">หน้าหลัก</a></li>
                                <li class="breadcrumb-item active" aria-current="page">ใบเสร็จ</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="col-md-6 col-sm-12 text-right">
                        <div class="btn-list">
                            <button type="button" class="btn btn-success" (click)="generatePDF()">ดาวน์โหลด PDF</button>
                            <!-- <button type="button" class="btn btn-secondary btn-md">พิมพ์</button> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="invoice-wrap col-md-12">
                <div id="invoicePDF" class="invoice-box x">
                    <div class="invoice-header">
                        <img src="assets/vendors/images/deskapp-.png" alt="" class="center">
                        <div class="line">
                            <p class="warpper l">42 ซอยรามอินทรา 14 แยก 9 แขวง ท่าแร้ง เขต บางเขน กรุงเทพมหานคร 10220 <br> โทร. 02-943-5814-5 แฟ็กซ์ 02-943-8201 E-mail:
                                benjawan@envirservice.co.th
                            </p>
                        </div>
                    </div>
                    <div class="row pb-10" id="headd">
                        <div class="col-md-6">
                            <h5 class="font-16 mb-12">บริษัท เอ็นไวร์ เซอร์วิส จำกัด</h5>
                            <p class="font-14 mb-5">วันที่ : <strong class="weight-600">{{em_date}}</strong></p>
                            <p class="font-14 mb-5">เลขที่ใบเสร็จ : <strong class="weight-600">{{em_id}}</strong></p>
                        </div>
                        <div class="col-md-6 right">
                            <div class="text-right">
                                <p class="font-14 mb-5">{{em_data[0]?.cus_fullname}}</p>
                                <p class="font-14 mb-5 ">{{address}}</p>
                                <p class="font-14 mb-5">{{em_data[0]?.province}} {{em_data[0]?.postal_code}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="invoice-desc pb-10">
                        <div class="invoice-desc-head clearfix">
                            <div class="invoice-rate"><span class="weight-600">ลำดับที่</span></div>
                            <div class="invoice-sub"><span class="weight-600">SN.</span></div>
                            <div class="invoice-sub"><span class="weight-600">อุปกรณ์</span></div>
                            <div class="invoice-hours"><span class="weight-600">หมวดหมู่</span></div>
                            <div class="invoice-subtotal right"><span class="weight-600">จำนวน</span></div>
                        </div>
                        <div class="invoice-desc-body">
                            <div *ngFor="let emd of em_data ; let i = index">
                                <div class="clearfix">
                                    <div class="invoice-rate">{{i+1}}</div>
                                    <div class="invoice-sub">{{emd.eq_detail_id}}</div>
                                    <div class="invoice-sub">{{emd.eq_detail_name}}</div>
                                    <div class="invoice-hours">{{emd.category}}</div>
                                    <div class="invoice-subtotal right">{{emd.amount}}</div>
                                </div>

                            </div>
                        </div>
                    </div>
                    
                    <!-- <div class="sig" >
                        <table class="ten sig" id="table">
                            <tbody class="warpper">
                                <tr>
                                    <td>สำหรับลูกค้า (For Customer)</td>
                                    <td>สำหรับผู้ปฏิบัติงาน (For Operator)</td>
                                </tr>
                                <tr class="warpper l">
                                    <td>.....................................................</td>
                                    <td>.....................................................</td>
                                </tr>
                            </tbody>
                        </table>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>