.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
.warpper {
    text-align: center;
}
.right{
  text-align: right;
}
.x {
  width: 210mm;
  height: 100%;
  min-height: 297mm;
}
.line{
  line-height: 1cm;
  font-size: 10pt;
  padding-bottom: 0px;
}
.l{
  line-height: 0.5cm;
  font-size: 10pt;
}
.sig {
  position: absolute;
  bottom: 50px;
  width: 210mm;
}
table {
  border-collapse: collapse;
  width: 200mm;
  line-height: 2cm;
} 
.table.ten {
  width: 50%;
}

.invoice-wrap{
	overflow: auto;
}
.invoice-box{
	background: #ffffff;
	width: 800px;
	margin: 0 auto;
	padding: 20px;
}
.invoice-header	{
	padding-bottom: 0px;
}
.invoice-desc .invoice-sub{
	width: 30%;
	float: left;
	padding: 8px 15px;
}
.invoice-desc .invoice-rate{
	width: 11%;
	float: left;
	padding: 8px 15px;
}
.invoice-desc .invoice-hours{
	width: 13%;
	float: left;
	padding: 8px 15px;
}
.invoice-desc .invoice-subtotal{
	width: 13%;
	float: right;
	padding: 8px 15px;
}
.invoice-desc .invoice-desc-head{
	background: #eaeaea;
	font-weight: 500;
	line-height: 0.7cm;
}
.invoice-desc .invoice-desc-body{
	/* padding-top: 15px;
	min-height: 200px; */
	line-height: 0.5cm;
	font-size: 11pt;
}
/* .invoice-desc .invoice-desc-footer .invoice-desc-body{
	min-height: 50px;
} */
.invoice-desc .invoice-desc-body ul li{
	border-bottom: 1px solid #eaeaea;
	padding-bottom: 5px;
}
