<app-header></app-header>
<app-menu></app-menu>
<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <div class="page-header">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="title">
                            <h4>ใบเสร็จ</h4>
                        </div>
                        <nav aria-label="breadcrumb" role="navigation">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a [routerLink]="[ '/home']">หน้าหลัก</a></li>
                                <li class="breadcrumb-item active" aria-current="page">ใบเสร็จ</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="col-md-6 col-sm-12 text-right">
                        <div class="btn-list">
                            <button type="button" class="btn btn-success" (click)="generatePDF()">ดาวน์โหลด PDF</button>
                            <!-- <button type="button" class="btn btn-secondary btn-md">พิมพ์</button> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="invoice-wrap">
                <div id="invoicePDF" class="invoice-box">
                    <div class="invoice-header">
                    </div>
                    <img src="assets/vendors/images/deskapp-.png" alt="" class="center">
                    <br>
                   
                    <div class="row pb-30">
                        <div class="col-md-6">
                            <h5 class="font-16 mb-15">บริษัท เอ็นไวร์ เซอร์วิส จำกัด</h5>
                            <p class="font-14 mb-5">วันที่ : <strong class="weight-600">{{em_date}}</strong></p>
                            <p class="font-14 mb-5">เลขที่ใบเสร็จ : <strong class="weight-600">{{em_id}}</strong></p>
                        </div>
                        <div class="col-md-6 right" >
                            <div class="text-right">
                                <p class="font-14 mb-5">{{em_data[0]?.cus_fullname}}</p>
                                <p class="font-14 mb-5 w">{{address}}</p>
                                <p class="font-14 mb-5">{{address2}}</p>
                                <p class="font-14 mb-5">{{em_data[0]?.postal_code}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="invoice-desc pb-30">
                        <div class="invoice-desc-head clearfix">
                            <div class="invoice-rate">ลำดับที่</div>
                            <div class="invoice-sub">อุปกรณ์</div>
                            <div class="invoice-hours">หมวดหมู่</div>
                            <div class="invoice-subtotal right">จำนวน</div>
                        </div>
                        <div class="invoice-desc-body">
                            <ul *ngFor="let emd of em_data ; let i = index">
                                <li class="clearfix">
                                    <div class="invoice-rate">{{i+1}}</div>
                                    <div class="invoice-sub">{{emd.eq_detail_name}}</div>
                                    <div class="invoice-hours">{{emd.category}}</div>
                                    <div class="invoice-subtotal right"><span class="weight-600">{{emd.amount}}</span></div>
                                </li>
                                
                            </ul>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>