<app-header></app-header>
<app-menu></app-menu>
<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="xs-pd-20-10 pd-ltr-20">

            <div class="page-header">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="title">
                            <h4>รายละเอียดงาน</h4>
                        </div>
                        <nav aria-label="breadcrumb" role="navigation">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a [routerLink]="[ '/home']">หน้าหลัก</a></li>
                                <li class="breadcrumb-item"><a [routerLink]="[ '/job/detail']">รายละเอียดงาน</a></li>
                                <li class="breadcrumb-item active" aria-current="page">แก้ไขรายละเอียดงาน</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-4 col-lg-8 col-md-8 col-sm-12 mb-30">
                    <div class="pd-20 card-box ">
                        <h5 class="text-center h5 mb-0">{{jobEdit[0]?.cus_fullname}}</h5>
                        <p class="text-center text-muted font-14"><span>รหัสลูกค้า:</span> {{jobEdit[0]?.cus_id}}</p>
                        <div class="profile-info">
                            <ul>
                                <li>
                                    <span>อีเมล:</span>
                                    {{jobEdit[0]?.cus_email}}
                                </li>
                                <li>
                                    <span>เบอร์โทร:</span>
                                    {{jobEdit[0]?.cus_phone}}
                                </li>
                                <li>
                                    <span>ที่อยู่:</span>
                                    {{jobEdit[0]?.number}} ม. {{jobEdit[0]?.moo}} ตำบล{{jobEdit[0]?.sub_district}} อำเภอ{{jobEdit[0]?.district}}
                                    จังหวัด{{jobEdit[0]?.province}} {{jobEdit[0]?.postal_code}}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 mb-30">
                    <div class="pd-20 card-box">

                        <div class="row">
                            <h5 class="col-sm-6 h5 mb-0">{{jobEdit[0]?.cus_fullname}}({{jobEdit[0]?.category}})</h5>
                            <p class="col-sm-6 text-right font-14"><span>วันที่รับงาน: </span>{{jobEdit[0]?.date_get_job}}</p>
                        </div>
                        <div class="row">
                            <p class="col-sm-6 h5 text-left text-muted font-14"><span>No:</span> {{jobEdit[0]?.id}}</p>
                            <p class="col-sm-6 text-right font-14"><span>วันที่ครบกำหนด: </span>{{jobEdit[0]?.date_end_job}}</p>
                        </div>

                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">ลำดับ</th>
                                    <th scope="col">รายการ</th>
                                    <th scope="col">หมวดหมู่</th>
                                    <th scope="col">สถานะ</th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container *ngIf="statusChange(jobEdit[0]?.category)"></ng-container>
                                <tr *ngFor="let edit of jobEdit; let i = index">
                                    <td>{{i+1}}</td>
                                    <td>{{edit.eq_detail_name}}</td>
                                    <td>{{edit.amount[1]}} {{edit.amount[3]}}</td>
                                    <td>
                                        
                                        <select _ngcontent-ysi-c51="" name="status"
                                            class="custom-select form-control ng-untouched ng-pristine ng-valid"
                                            ng-reflect-name="status" >
                                            <option _ngcontent-ysi-c51="" *ngFor='let rental of statusArray' value="{{rental}}" ng-reflect-value="" >{{rental}}</option>                                        
                                        </select>
                                    
                                </tr>
                            </tbody>
                        </table>
                        <div class="wrapper btn-list">
                            <button type="button" class="btn btn-success" [routerLink]="[ '/job/detail']">บันทึก</button>
                            <button type="button" class="btn btn-danger" (click)="onClickBack()">ยกเลิก</button>
                        </div>
                    </div>
                </div>

            </div>
            <app-footer></app-footer>
        </div>
    </div>
</div>