.btn-size{
    width: 10px;
}

.wrapper{
    text-align: center;
}

#map {
    height: 400px;
  }
.map-container {
    position:sticky;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0px;
} 
.map-frame {
    border: 2px solid black;
    height: 100%;
}

.tab-10{
    width: 10%;
    text-align: center;
}
.tab-15{
    width: 15%;
}
.tab-25{
    width: 25%;
}