<app-header></app-header>
<app-menu></app-menu>
<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="xs-pd-20-10 pd-ltr-20">

            <div class="page-header">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="title">
                            <h4>รายละเอียดงาน</h4>
                        </div>
                        <nav aria-label="breadcrumb" role="navigation">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a [routerLink]="[ '/home']"
                                        href="javascript:;">หน้าหลัก</a></li>
                                <li class="breadcrumb-item" (click)="onClickBack()"><a
                                        href="javascript:;">รายการงาน</a></li>
                                <li class="breadcrumb-item active" aria-current="page">แก้ไขรายละเอียดงาน</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-4 col-lg-8 col-md-8 col-sm-12 mb-30">
                    <div class="pd-20 card-box ">
                        <h5 class="text-center h5 mb-0">{{jobEdit[0]?.cus_fullname}}</h5>
                        <p class="text-center text-muted font-14"><span>รหัสลูกค้า:</span> {{jobEdit[0]?.cus_id}}</p>
                        <div class="profile-info">
                            <ul>
                                <li>
                                    <span>อีเมล:</span>
                                    {{jobEdit[0]?.cus_email}}
                                </li>
                                <li>
                                    <span>เบอร์โทร:</span>
                                    {{jobEdit[0]?.cus_phone}}
                                </li>
                                <li>
                                    <span>ที่อยู่:</span>
                                    {{jobEdit[0]?.number}} ม. {{jobEdit[0]?.moo}} ตำบล{{jobEdit[0]?.sub_district}}
                                    อำเภอ{{jobEdit[0]?.district}}
                                    จังหวัด{{jobEdit[0]?.province}} {{jobEdit[0]?.postal_code}}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- แก้ไขสถานะงาน -->
                <!-- <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 mb-30">
                    <div class="pd-20 card-box">
                        <div class="row">
                            <h5 class="col-sm-6 h5 mb-0">{{jobEdit[0]?.cus_fullname}}({{jobEdit[0]?.category}})</h5>
                            <p class="col-sm-6 text-right font-14"><span>วันที่รับงาน:
                                </span>{{jobEdit[0]?.date_get_job}}</p>
                        </div>
                        <div class="row">
                            <p class="col-sm-6 h5 text-left text-muted font-14"><span>No:</span> {{jobEdit[0]?.id}}</p>
                            <p class="col-sm-6 text-right font-14"><span>วันที่ครบกำหนด:
                                </span>{{jobEdit[0]?.date_end_job}}</p>
                        </div>

                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">ลำดับ</th>
                                    <th scope="col">รายการ</th>
                                    <th scope="col">หมวดหมู่</th>
                                    <th scope="col">สถานะ</th>
                                    <th scope="col">แก้ไข</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr *ngFor="let edit of jobEdit; let i = index">
                                    <ng-container *ngIf="statusChange(emd_edit.category)"></ng-container>
                                    <td>{{i+1}}</td>
                                    <td>{{edit.eq_detail_name}}</td>
                                    <td>{{edit.category}}</td>
                                    <td>{{edit.status}}</td>
                                    <td>
                                        <div class="btn-list">
                                            <button class="btn btn-success btn-sm" type="button" value="submit"
                                                data-toggle="modal" data-target="#Edit-eq"
                                                (click)="getIdEmd(edit.em_detail_id)">
                                                <i class="icon-copy fa fa-pencil-square-o btn-size"
                                                    aria-hidden="true"></i></button>

                                            <button class="btn btn-danger btn-sm" type="button" value="submit"
                                                (click)="delete(edit.em_detail_id, edit.eq_detail_name, edit.id, edit.amount, edit.detail_id)"><i
                                                    class="icon-copy fa fa-trash btn-size"
                                                    aria-hidden="true"></i></button>
                                        </div>

                                        <div class="modal fade" id="Edit-eq" tabindex="-1" role="dialog"
                                            aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h4 class="modal-title" id="myLargeModalLabel">แก้ไขสถานะอุปกรณ์
                                                        </h4>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                            aria-hidden="true">×</button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form>
                                                            <div>
                                                                <div class="form-group">
                                                                    <h5>SN.{{emd_edit.eq_detail_id}}</h5>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="status">สถานะ</label>
                                                                    <select _ngcontent-ysi-c51="" name="status"
                                                                        id="status"
                                                                        (change)="updateStatus(emd_edit.id,status_select)"
                                                                        [(ngModel)]="status_select"
                                                                        class="custom-select form-control ng-untouched ng-pristine ng-valid">
                                                                        <option *ngFor='let rental of statusArray'
                                                                            value="{{rental}}">{{rental}}</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-danger"
                                                            data-dismiss="modal">Close</button>
                                                        <button type="reset" class="btn btn-primary"
                                                            data-dismiss="modal" value="submit"
                                                            (click)="onClickSave(emd_edit.id, emd_edit.eq_detail_id,emd_edit.amount)">Save</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="wrapper btn-list">
                            <button type="button" class="btn btn-link" (click)="onClickBack()">ย้อนกลับ</button>
                        </div>
                    </div>
                </div> -->

                <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 mb-30">
                    <div class="card-box height-100-p overflow-hidden">
                        <div class="profile-tab height-100-p">
                            <div class="tab height-100-p">
                                <ul class="nav nav-tabs customtab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" data-toggle="tab" href="#mapp" role="tab">แผนที่</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#edit_em" role="tab">
                                            แก้ไขรายละเอียดงาน</a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <!-- mapp Tab start -->
                                    <div class="tab-pane fade show active" id="mapp" role="tabpanel">
                                        <div class="card-body">
                                            <div class="map-container">
                                                <div id="map"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- mapp Tab End -->

                                    <!-- edit_em Tab start -->
                                    <div class="tab-pane fade height-100-p" id="edit_em" role="tabpanel">
                                        <div class="pd-20 card-box">
                                            <div class="row">
                                                <h5 class="col-sm-6 h5 mb-0"><span>No:</span> {{jobEdit[0]?.id}}</h5>
                                                <p class="col-sm-6 text-right font-14"><span>วันที่รับงาน:
                                                    </span>{{jobEdit[0]?.date_get_job}}</p>
                                            </div>
                                            <div class="row">
                                                <p class="col-sm-6 h5 text-left text-muted font-14"></p>
                                                <p class="col-sm-6 text-right font-14"><span>วันที่ครบกำหนด:
                                                    </span>{{jobEdit[0]?.date_end_job}}</p>
                                            </div>
                    
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">ลำดับ</th>
                                                        <th scope="col">รายการ</th>
                                                        <th scope="col">หมวดหมู่</th>
                                                        <th scope="col">สถานะ</th>
                                                        <th scope="col">แก้ไข</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                    
                                                    <tr *ngFor="let edit of jobEdit; let i = index">
                                                        <ng-container *ngIf="statusChange(emd_edit.category)"></ng-container>
                                                        <td>{{i+1}}</td>
                                                        <td>{{edit.eq_detail_name}}</td>
                                                        <td>{{edit.category}}</td>
                                                        <td>{{edit.status}}</td>
                                                        <td>
                                                            <div class="btn-list">
                                                                <button class="btn btn-success btn-sm" type="button" value="submit"
                                                                    data-toggle="modal" data-target="#Edit-eq"
                                                                    (click)="getIdEmd(edit.em_detail_id)">
                                                                    <i class="icon-copy fa fa-pencil-square-o btn-size"
                                                                        aria-hidden="true"></i></button>
                    
                                                                <button class="btn btn-danger btn-sm" type="button" value="submit"
                                                                    (click)="delete(edit.em_detail_id, edit.eq_detail_name, edit.id, edit.amount, edit.detail_id,edit.status)"><i
                                                                        class="icon-copy fa fa-trash btn-size"
                                                                        aria-hidden="true"></i></button>
                                                            </div>
                    
                                                            <div class="modal fade" id="Edit-eq" tabindex="-1" role="dialog"
                                                                aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                                                <div class="modal-dialog modal-dialog-centered">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <h4 class="modal-title" id="myLargeModalLabel">แก้ไขสถานะอุปกรณ์
                                                                            </h4>
                                                                            <button type="button" class="close" data-dismiss="modal"
                                                                                aria-hidden="true">×</button>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            <form>
                                                                                <div>
                                                                                    <div class="form-group">
                                                                                        <h5>SN.{{emd_edit.eq_detail_id}}</h5>
                                                                                    </div>
                                                                                    <div class="form-group">
                                                                                        <label for="status">สถานะ</label>
                                                                                        <select _ngcontent-ysi-c51="" name="status"
                                                                                            id="status"
                                                                                            (change)="updateStatus(emd_edit.id,status_select)"
                                                                                            [(ngModel)]="status_select"
                                                                                            class="custom-select form-control ng-untouched ng-pristine ng-valid">
                                                                                            <option *ngFor='let rental of statusArray'
                                                                                                value="{{rental}}">{{rental}}</option>
                                                                                        </select>
                                                                                    </div>
                                                                                </div>
                                                                            </form>
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="button" class="btn btn-danger"
                                                                                data-dismiss="modal">Close</button>
                                                                            <button type="reset" class="btn btn-primary"
                                                                                data-dismiss="modal" value="submit"
                                                                                (click)="onClickSave(emd_edit.id, emd_edit.eq_detail_id,emd_edit.amount)">Save</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <div class="wrapper btn-list">
                                                <button type="button" class="btn btn-link" (click)="onClickBack()">ย้อนกลับ</button>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- edit_em Tab End -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
</div>