<app-line-header></app-line-header>
<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <!-- <div class="page-header">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="title">
                            <h4>รับงาน</h4>
                        </div>
                        <nav aria-label="breadcrumb" role="navigation">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a [routerLink]="[ '/home']">หน้าหลัก</a></li>
                                <li class="breadcrumb-item active" aria-current="page">รับงาน</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div> -->

            <div class="pd-20 card-box mb-30">
                <div class="clearfix">
                    <h4 class="text-blue h5">ข้อมูลการรับงาน</h4>
                    <br>
                </div>

                <div class="wizard-content">
                    <form class="tab-wizard wizard-circle wizard">
                        <h5>ข้อมูลลูกค้า</h5>
                        <section>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>ชื่อลูกค้า :</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </section>
                        <br>

                        <!-- Step 2 -->
                        <h5>รายละเอียดงาน</h5>
                        <section>
                            <form>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>กำหนดวันที่ส่งคืน :</label>
                                            <input type="text" class="form-control date-picker"
                                                placeholder="เลือกวันที่">
                                        </div>
                                    </div>

                                    <div class="col-md-6 form-group">
                                        <label>หมวดหมู่ :</label>
                                        <select class="custom-select form-control" name="catagory_select"
                                            [(ngModel)]="catagory_select">
                                            <option class="filter-option-inner-inner" *ngFor="let c of cg"
                                                value="{{c}}">{{c}}</option>
                                        </select>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-md-6 form-group">
                                        <label>อุปกรณ์ :</label>
                                        <select class="custom-select form-control" name="equipment_select"
                                            [(ngModel)]="equipment_select">
                                            <option *ngFor="let e of eq" value="{{e}}">{{e}}</option>
                                        </select>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>หมายเหตุ :</label>
                                            <input type="text" class="form-control" autocomplete="off">
                                        </div>
                                    </div>

                                </div>

                                <div class="row">

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>จำนวน :</label>
                                            <input name="count_select" [(ngModel)]="count_select" type="number"
                                                class="form-control" autocomplete="off">
                                        </div>
                                    </div>

                                    <div class="col-md-6">

                                        <div class="wrapper">
                                            <button type="reset" class="btn btn-success"
                                                (click)="add_getJob()">เพิ่ม</button>
                                        </div>
                                    </div>

                                </div>
                            </form>
                        </section>

                        <br><br>
                        <!-- Step 3 -->
                        <h5>รายการอุปกรณ์</h5>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">หมวดหมู่</th>
                                    <th scope="col">อุปกรณ์</th>
                                    <th scope="col">จำนวน</th>
                                    <th scope="col">จัดการ</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of getJob_data">
                                    <td>{{data[0]}}</td>
                                    <td>{{data[1]}}</td>
                                    <td>{{data[2]}}</td>
                                    <td>
                                        <button class="btn btn-danger btn-sm" type="button" value="submit"
                                            (click)="deleteRow(data)"><i class="icon-copy fa fa-trash btn-size"
                                                aria-hidden="true"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>

                <div class="wrapper">
                    <div class="btn-list">
                        <button type="button" class="btn btn-success">บันทึก</button>
                        <button type="button" class="btn btn-danger">ยกเลิก</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>