<div class="header">
    <div class="header-left">
        <div class="menu-icon dw dw-menu"></div>
        <div class="search-toggle-icon dw dw-search2" data-toggle="header_search"></div>
        <div class="header-search">
            <form>
                <div class="form-group mb-0">
                    <i class="dw dw-search2 search-icon"></i>
                    <input type="text" class="form-control search-input" placeholder="ค้นหาที่นี่....">
                    <div class="dropdown">
                        <a class="dropdown-toggle no-arrow" href="#" role="button" data-toggle="dropdown">
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="header-right">
        <div class="user-notification">
           
        </div>
        <div class="user-info-dropdown">
            <div class="dropdown">
                <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                    <span class="user-icon">
                        <img src="assets/vendors/images/deskapp.png" alt="">
                    
                    </span>
                    <span class="user-name">{{admin.username}}</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
                    <a class="dropdown-item" (click) = "onClickProfile()" href="javascript:;"><i class="dw dw-user1"></i> โปรไฟล์</a>
                    <a class="dropdown-item" (click) = "onClickLogout()" href="javascript:;"><i class="dw dw-logout"></i> ลงชื่อออก</a>
                </div>
            </div>
        </div>
    </div>
</div>