.btn-size{
    width: 10px;
}

.clearfix {
    position: relative;
    font-size: 16px;
    text-align: center;
  }
.ttt {
    width: 20%;
}
.tt {
    width: 40%;
    word-wrap: break-word;  
    text-align: left;
}
