<app-header></app-header>
<app-menu></app-menu>
<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">

            <div class="page-header">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="title">
                            <h4>รายการรับซ่อม</h4>
                        </div>
                        <nav aria-label="breadcrumb" role="navigation">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a [routerLink]="[ '/home']">หน้าหลัก</a></li>
                                <li class="breadcrumb-item active" aria-current="page">รายการรับซ่อม</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>

            <div class="pd-20 card-box mb-30">
                <div class="clearfix mb-20">
                    <div class="pull-left">
                        <h4 class="text-blue h4">รายการรับซ่อม</h4>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">เลขที่ใบเสร็จ</th>
                                <th scope="col">หัวข้อ</th>
                                <th scope="col">ลูกค้า</th>
                                <th scope="col">จัดการ</th>
                            </tr>
                        </thead>
                        <tbody >
                            <tr *ngFor="let fix of jobMaintenanc; let i = index">
                                <th scope="row"><a [routerLink]="[ '/job/detail/'+type+'/'+fix.id]">{{fix.id}}</a></th>
                                <td><a [routerLink]="[ '/job/detail/'+type+'/'+fix.id]">{{fix.string_agg}}</a></td>
                                <td><a [routerLink]="[ '/job/detail/'+type+'/'+fix.id]">{{fix.cus_fullname}}</a></td>
                                <td>
                                    <div class="btn-list">
                                        <span class="btn btn-success btn-sm" type="button" value="submit"
                                            [routerLink]="[ '/job/edit/'+fix.id]"><i
                                                class="icon-copy fa fa-pencil-square-o btn-size"
                                                aria-hidden="true"></i></span>
                                        <span class="btn btn-danger btn-sm" type="button" value="submit" (click)="delete(fix.id, i)"><i
                                                class="icon-copy fa fa-trash btn-size" aria-hidden="true"></i></span>
                                    </div>
                                </td>
                           
                            </tr>
                        </tbody>
                    </table>
                </div>

                <!-- หน้าข้อมูล -->
                <!-- <div class="row">
                    <div class="col-sm-12 col-md-5">
                        <div class="dataTables_info" id="DataTables_Table_1_info" role="status"
                            aria-live="polite">1-10 of 12 entries</div>
                    </div>
                    <div class="col-sm-12 col-md-7">
                        <div class="dataTables_paginate paging_simple_numbers"
                            id="DataTables_Table_1_paginate">
                            <ul class="pagination">
                                <li class="paginate_button page-item previous disabled"
                                    id="DataTables_Table_1_previous"><a href="#"
                                        aria-controls="DataTables_Table_1" data-dt-idx="0" tabindex="0"
                                        class="page-link"><i class="ion-chevron-left"></i></a></li>
                                <li class="paginate_button page-item active"><a href="#"
                                        aria-controls="DataTables_Table_1" data-dt-idx="1" tabindex="0"
                                        class="page-link">1</a></li>
                                <li class="paginate_button page-item "><a href="#"
                                        aria-controls="DataTables_Table_1" data-dt-idx="2" tabindex="0"
                                        class="page-link">2</a></li>
                                <li class="paginate_button page-item next" id="DataTables_Table_1_next"><a
                                        href="#" aria-controls="DataTables_Table_1" data-dt-idx="3"
                                        tabindex="0" class="page-link"><i class="ion-chevron-right"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div> -->
            </div>
            <app-footer></app-footer>
        </div>
    </div>
</div>