<app-header></app-header>
<app-menu></app-menu>
<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <div class="page-header">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="title">
                            <h4>รายการรับซ่อม</h4>
                        </div>
                        <nav aria-label="breadcrumb" role="navigation">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="javascript:;">หน้าหลัก</a></li>
                                <li class="breadcrumb-item active" aria-current="page"><a href="javascript:;">รายการรับซ่อม</a></li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="pd-20 card-box mb-30">
                <div class="clearfix mb-20">
                    <div class="pull-left">
                        <h4 class="text-blue h4">รายการรับซ่อม</h4>
                    </div>
                </div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">ลำดับ</th>
                            <th scope="col">หัวข้อ</th>
                            <th scope="col">ลูกค้า</th>
                            <th scope="col">สถานะ</th>
                            <th scope="col">จัดการ</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Envir</td>
                            <td>CO2</td>
                            <td>อยู่ระหว่างการเช่ายืม</td>
                            <td>
                                <div class="btn-list">
                                <span class="btn btn-success btn-sm" type="button" value="submit">แก้ไข</span>
                                <span class="btn btn-danger btn-sm" type="button" value="submit">ลบ</span>
                                <span class="btn btn-secondary btn-sm" type="button" value="submit">พิมพ์</span>
                            </div>
                            </td>    
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Envir2</td>
                            <td>NOx</td>
                            <td>อยู่ระหว่างการเช่ายืม</td>
                            <td>
                                <div class="btn-list">
                                <span class="btn btn-success btn-sm" type="button" value="submit">แก้ไข</span>
                                <span class="btn btn-danger btn-sm" type="button" value="submit">ลบ</span>
                                <span class="btn btn-secondary btn-sm" type="button" value="submit">พิมพ์</span>
                            </div>
                            </td>    
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Envir3</td>
                            <td>CO2/NOx</td>
                            <td>อยู่ระหว่างการเช่ายืม</td>
                            <td>
                                <div class="btn-list">
                                <span class="btn btn-success btn-sm" type="button" value="submit">แก้ไข</span>
                                <span class="btn btn-danger btn-sm" type="button" value="submit">ลบ</span>
                                <span class="btn btn-secondary btn-sm" type="button" value="submit">พิมพ์</span>
                            </div>
                            </td>    
                        </tr>
                    </tbody>
                </table>
            </div>
            <app-footer></app-footer>
        </div>
    </div>
</div>