<app-header></app-header>
<app-menu></app-menu>
<div class="main-container">
    <div class="pd-ltr-20">
        <div class="page-header">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="title">
                        <h4>หน้าหลัก</h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-3 mb-30">
                <a [routerLink]="[ '/maintenanc']">
                    <div class="card-box height-70-p widget-style1">
                        <div class="d-flex flex-wrap align-items-center">
                            <div class="progress-data">
                                <circle-progress [percent]="percenFix" [showSubtitle]="false" [space]="-6" [radius]="30"
                                    [outerStrokeWidth]="6" [innerStrokeWidth]="6" [outerStrokeColor]="'#0B20E6'"
                                    [innerStrokeColor]="'#e7e8ea'" [animation]="true" [animationDuration]="100"
                                    [outerStrokeGradientStopColor]="'#0494E2'">
                                </circle-progress>
                            </div>
                            <div class="widget-data">
                                <div class="weight-600 font-14 b">ซ่อมบำรุง</div>
                                <div class="font-12 mb-0">งานทั้งหมด: {{fix}}</div>
                                <div class="font-12 mb-0">งานที่เสร็จสิ้น: {{countFix}}</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xl-3 mb-30">
                <a [routerLink]="[ '/rental']">
                    <div class="card-box height-70-p widget-style1">
                        <div class="d-flex flex-wrap align-items-center">
                            <div class="progress-data">
                                <circle-progress [percent]="percenRental" [showSubtitle]="false" [space]="-6"
                                    [radius]="30" [outerStrokeWidth]="6" [innerStrokeWidth]="6"
                                    [outerStrokeColor]="'#CC184E'" [innerStrokeColor]="'#e7e8ea'" [animation]="true"
                                    [animationDuration]="100" [outerStrokeGradientStopColor]="'#F76CAE'">
                                </circle-progress>
                            </div>
                            <div class="widget-data">
                                <div class="weight-600 font-14 b">เช่า - ยืม</div>
                                <div class="font-12 mb-0">งานทั้งหมด: {{rental}}</div>
                                <div class="font-12 mb-0">งานที่เสร็จสิ้น: {{countRental}}</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xl-3 mb-30">
                <a [routerLink]="[ '/testing']">
                    <div class="card-box height-70-p widget-style1">
                        <div class="d-flex flex-wrap align-items-center">
                            <div class="progress-data">
                                <circle-progress [percent]="percenTest" [showSubtitle]="false" [space]="-6"
                                    [radius]="30" [outerStrokeWidth]="6" [innerStrokeWidth]="6"
                                    [outerStrokeColor]="'#016E78'" [innerStrokeColor]="'#e7e8ea'" [animation]="true"
                                    [animationDuration]="100" [outerStrokeGradientStopColor]="'#00B454'">
                                </circle-progress>
                            </div>
                            <div class="widget-data">
                                <div class="weight-600 font-14 b">ทดสอบ</div>
                                <div class="font-12 mb-0">งานทั้งหมด: {{test}}</div>
                                <div class="font-12 mb-0">งานที่เสร็จสิ้น: {{countTest}}</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xl-3 mb-30">
                <a [routerLink]="[ '/selling']">
                    <div class="card-box height-70-p widget-style1">
                        <div class="d-flex flex-wrap align-items-center">
                            <div class="progress-data">
                                <circle-progress [percent]="percenSell" [showSubtitle]="false" [space]="-6"
                                    [radius]="30" [outerStrokeWidth]="6" [innerStrokeWidth]="6"
                                    [outerStrokeColor]="'#FF3900'" [innerStrokeColor]="'#e7e8ea'" [animation]="true"
                                    [animationDuration]="100" [outerStrokeGradientStopColor]="'#FFBA00'">
                                </circle-progress>
                            </div>
                            <div class="widget-data">
                                <div class="weight-600 font-14 b">จำหน่าย</div>
                                <div class="font-12 mb-0">งานทั้งหมด: {{sell}}</div>
                                <div class="font-12 mb-0">งานที่เสร็จสิ้น: {{countSell}}</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-7 col-md-12 col-sm-12 mb-30">
                <!-- รายการคืนอุปกรณ์วันนี้ -->
                <div class="card-box pd-30 height-100-p">
                    <h4 class="mb-30 h4">รายการคืนอุปกรณ์วันนี้</h4>
                    <div id="compliance-trend" class="compliance-trend"></div>
                    <div *ngIf="today">
                        <p class="wrapper">ไม่มีรายการคืนอุปกรณ์วันนี้</p>
                    </div>
                    <div class="table-responsive" *ngIf="todayShow">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th class="tab-10" scope="col">ลำดับ</th>
                                    <th class="tab-35" scope="col">ลูกค้า</th>
                                    <th class="tab-35" scope="col">หัวข้อ</th>
                                    <th class="tab-20" scope="col">หมวดหมู่</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let list of todaylist; let i = index"
                                (click)="goToEdit(list.em_id)" href="javascript:;">
                                    <th class="tab-10" scope="row">{{i+1}}</th>
                                    <td class="tab-35"><a href="javascript:;">{{list.cus_fullname}}</a></td>
                                    <td class="tab-35"><a href="javascript:;">{{list.eq_detail_name}}</a></td>
                                    <td class="tab-20"><a href="javascript:;">{{list.category}}</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-12 col-sm-12 mb-30">
                <!-- อุปกรณ์เกินกำหนดคืน -->
                <div class="card-box pd-30 height-100-p">
                    <h4 class="mb-30 h4">อุปกรณ์เกินกำหนดคืน</h4>
                    <div class="browser-visits">
                        <div *ngIf="over">
                            <p class="wrapper">ไม่มีรายการเกินกำหนดคืนวันนี้</p>
                        </div>
                        <ul>
                            <li class="d-flex flex-wrap align-items-center" *ngFor="let due of overdue; let i = index"
                                (click)="goToEdit(due.em_id)">
                                <div class="browser-name"><a href="javascript:;">{{due.eq_detail_id}} -
                                        {{due.eq_detail_name}}</a></div>
                                <div class="visit"><span class="badge badge-pill badge-primary3"><a href="javascript:;"
                                            class="a">เกินกำหนด {{due.date}} วัน</a></span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- แผนที่ -->
        <div class="faq-wrap">
            <div id="accordion2">
                <div class="card">
                    <div class="card-header">
                        <button class="btn btn-block" data-toggle="collapse" data-target="#faq2">
                            <h4 class="text-blue h4 text">แผนที่</h4>
                        </button>
                    </div>
                    <div id="faq2" class="collapse show" data-parent="#accordion2">
                        <div class="card-body">
                            <div class="map-container">
                                <div id="map"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- รายการล่าสุด -->
        <div class="faq-wrap">
            <div id="accordion">
                <div class="card">
                    <div class="card-header">
                        <button class="btn btn-block" data-toggle="collapse" data-target="#faq1">
                            <h4 class="text-blue h4 text">รายการล่าสุด</h4>
                        </button>
                    </div>
                    <div id="faq1" class="collapse show" data-parent="#accordion">
                        <div class="card-body">
                            <div class="pd-20 card-box mb-30">
                                <div class="clearfix mb-20">
                                    <div class="row">
                                        <!-- <h4 class="text-blue h4 text">รายการล่าสุด</h4> -->
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th class="tab-15" scope="col">เลขที่ใบเสร็จ</th>
                                                <th class="tab-30" scope="col">ลูกค้า</th>
                                                <th class="tab-35" scope="col">หมวดหมู่</th>
                                                <th class="tab-20" scope="col">วันที่รับงาน</th>
                                                <!-- <th scope="col">สถานะ</th> -->
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let last of lastinsert; let i = index"
                                            (click)="goToEdit(last.id)">
                                                <th class="tab-15" scope="row">{{last.id}}</th>
                                                <td class="tab-30"><a href="javascript:;">{{last.cus_fullname}}</a></td>
                                                <td class="tab-35"><a href="javascript:;">{{last.category}}</a></td>
                                                <td class="tab-20"><a href="javascript:;">{{last.date_get_job}}</a></td>
                                                <!-- <td><a href="javascript:;">{{last.status}}</a></td> -->
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <button class="btn btn-link al"><a [routerLink]="['/alljob']">ทั้งหมด</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="row">
            <div class="col-lg-7 col-md-12 col-sm-12 mb-30">
                <div class="card-box pd-30 height-100-p">
                    <h4 class="mb-30 h4">ลูกค้าล่าสุด</h4>
                    <div class="faq-wrap">
                        <div id="accordion2">
                            <div class="card" *ngFor="let cus of lastinsert; let i = index">
                                <div class="card-header">
                                    <button class="btn btn-block" data-toggle="collapse" [attr.data-target]="'#cus-'+i">
                                        {{cus.cus_fullname}}
                                    </button>
                                </div>
                                <div id="cus-{{i}}" class="collapse show" data-parent="#accordion2">
                                    <div class="card-body" *ngFor="let em of lastinsert[i].em; let j = index">
                                        <div id="accordion1">
                                            <div class="card">
                                                <div class="card-header">
                                                    <button class="btn btn-block" data-toggle="collapse" [attr.data-target]="'#em-'+i+'-'+j">
                                                        เลขที่ใบเสร็จ: {{em}}
                                                    </button>
                                                </div>
                                                <div id="em-{{i}}-{{j}}" class="collapse show" data-parent="#accordion1">
                                                    <div class="card-body">
                                                        <table class="table">
                                                            <thead>
                                                                <tr>
                                                                    <th scope="col">รายการ</th>
                                                                    <th scope="col">หมวดหมู่</th>
                                                                    <th scope="col">สถานะ</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody *ngFor="let tb of lastinsert[i].test[j]; let k = index">
                                                                <tr >
                                                                    <td>{{tb.eq_detail_name}}</td>
                                                                    <td>{{tb.category}}</td>
                                                                    <td>{{tb.status}}</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <app-footer></app-footer>
    </div>
</div>