<app-header></app-header>
<app-menu></app-menu>
<div class="main-container">
    <div class="pd-ltr-20">
        <div class="page-header">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="title">
                        <h4>หน้าหลัก</h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-3 mb-30">
                <a [routerLink]="[ '/maintenanc']">
                    <div class="card-box height-70-p widget-style1">
                        <div class="d-flex flex-wrap align-items-center">
                            <div class="progress-data">
                                <circle-progress [percent]="percenFix" [showSubtitle]="false" [space]="-6" [radius]="30"
                                    [outerStrokeWidth]="6" [innerStrokeWidth]="6" [outerStrokeColor]="'#0B20E6'"
                                    [innerStrokeColor]="'#e7e8ea'" [animation]="true" [animationDuration]="100"
                                    [outerStrokeGradientStopColor]="'#0494E2'">
                                </circle-progress>
                            </div>
                            <div class="widget-data">
                                <div class="weight-600 font-14 b">ซ่อมบำรุง</div>
                                <div class="font-12 mb-0">งานทั้งหมด: {{fix}}</div>
                                <div class="font-12 mb-0">งานที่เสร็จสิ้น: {{countFix}}</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xl-3 mb-30">
                <a [routerLink]="[ '/rental']">
                    <div class="card-box height-70-p widget-style1">
                        <div class="d-flex flex-wrap align-items-center">
                            <div class="progress-data">
                                <circle-progress [percent]="percenRental" [showSubtitle]="false" [space]="-6"
                                    [radius]="30" [outerStrokeWidth]="6" [innerStrokeWidth]="6"
                                    [outerStrokeColor]="'#CC184E'" [innerStrokeColor]="'#e7e8ea'" [animation]="true"
                                    [animationDuration]="100" [outerStrokeGradientStopColor]="'#F76CAE'">
                                </circle-progress>
                            </div>
                            <div class="widget-data">
                                <div class="weight-600 font-14 b">เช่า - ยืม</div>
                                <div class="font-12 mb-0">งานทั้งหมด: {{rental}}</div>
                                <div class="font-12 mb-0">งานที่เสร็จสิ้น: {{countRental}}</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xl-3 mb-30">
                <a [routerLink]="[ '/testing']">
                    <div class="card-box height-70-p widget-style1">
                        <div class="d-flex flex-wrap align-items-center">
                            <div class="progress-data">
                                <circle-progress [percent]="percenTest" [showSubtitle]="false" [space]="-6"
                                    [radius]="30" [outerStrokeWidth]="6" [innerStrokeWidth]="6"
                                    [outerStrokeColor]="'#016E78'" [innerStrokeColor]="'#e7e8ea'" [animation]="true"
                                    [animationDuration]="100" [outerStrokeGradientStopColor]="'#00B454'">
                                </circle-progress>
                            </div>
                            <div class="widget-data">
                                <div class="weight-600 font-14 b">ทดสอบ</div>
                                <div class="font-12 mb-0">งานทั้งหมด: {{test}}</div>
                                <div class="font-12 mb-0">งานที่เสร็จสิ้น: {{countTest}}</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xl-3 mb-30">
                <a [routerLink]="[ '/selling']">
                    <div class="card-box height-70-p widget-style1">
                        <div class="d-flex flex-wrap align-items-center">
                            <div class="progress-data">
                                <circle-progress [percent]="percenSell" [showSubtitle]="false" [space]="-6"
                                    [radius]="30" [outerStrokeWidth]="6" [innerStrokeWidth]="6"
                                    [outerStrokeColor]="'#FF3900'" [innerStrokeColor]="'#e7e8ea'" [animation]="true"
                                    [animationDuration]="100" [outerStrokeGradientStopColor]="'#FFBA00'">
                                </circle-progress>
                            </div>
                            <div class="widget-data">
                                <div class="weight-600 font-14 b">จำหน่าย</div>
                                <div class="font-12 mb-0">งานทั้งหมด: {{sell}}</div>
                                <div class="font-12 mb-0">งานที่เสร็จสิ้น: {{countSell}}</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-7 col-md-12 col-sm-12 mb-30">
                <!-- รายการคืนอุปกรณ์วันนี้ -->
                <div class="card-box pd-30 height-100-p">
                    <h4 class="mb-30 h4">รายการคืนอุปกรณ์วันนี้</h4>
                    <div id="compliance-trend" class="compliance-trend"></div>
                    <div *ngIf="today">
                        <p class="wrapper">ไม่มีรายการคืนอุปกรณ์วันนี้</p>
                    </div>
                    <div class="table-responsive" *ngIf="todayShow">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">ลำดับ</th>
                                    <th scope="col">ลูกค้า</th>
                                    <th scope="col">หัวข้อ</th>
                                    <th scope="col">หมวดหมู่</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let list of todaylist; let i = index"
                                    (click)="todayGoToDeatail(list.em_id,list.category)" href="javascript:;">
                                    <th scope="row">{{i+1}}</th>
                                    <td><a href="javascript:;">{{list.cus_fullname}}</a></td>
                                    <td><a href="javascript:;">{{list.eq_detail_name}}</a></td>
                                    <td><a href="javascript:;">{{list.category}}</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-12 col-sm-12 mb-30">
                <!-- อุปกรณ์เกินกำหนดคืน -->
                <div class="card-box pd-30 height-100-p">
                    <h4 class="mb-30 h4">อุปกรณ์เกินกำหนดคืน</h4>
                    <div class="browser-visits">
                        <div *ngIf="over">
                            <p class="wrapper">ไม่มีรายการเกินกำหนดคืนวันนี้</p>
                        </div>
                        <ul>
                            <li class="d-flex flex-wrap align-items-center" *ngFor="let due of overdue; let i = index"
                                (click)="overDueGoToDeatail(due.em_id,due.category)">
                                <div class="browser-name"><a href="javascript:;">{{due.eq_detail_id}} -
                                        {{due.eq_detail_name}}</a></div>
                                <div class="visit"><span class="badge badge-pill badge-primary3"><a href="javascript:;"
                                            class="a">เกินกำหนด {{due.date}} วัน</a></span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- รายการล่าสุด -->
        <!-- <div class="pd-20 card-box mb-30">
            <div class="clearfix mb-20">
                <div class="row">
                    <h4 class="text-blue h4 text">รายการล่าสุด</h4>
                    <input type="search"  class="form-control col-md-3">
                    <i class="icon fa fa-search"></i>
                    <datalist id="cusSearch">
                        <option value="c" aria-label="lalala">lalala</option>
                    </datalist>

                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">ลำดับ</th>
                            <th scope="col">ลูกค้า</th>
                            <th scope="col">หัวข้อ</th>
                            <th scope="col">หมวดหมู่</th>
                            <th scope="col">วันที่รับงาน</th>
                            <th scope="col">สถานะ</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let last of lastinsert; let i = index">
                            <th scope="row">{{i+1}}</th>
                            <td>{{last.cus_fullname}}</td>
                            <td>{{last.eq_detail_name}}</td>
                            <td>{{last.category}}</td>
                            <td>{{last.date_get_job}}</td>
                            <td>{{last.status}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div> -->

        <div class="row">
            <div class="col-lg-5 col-md-12 col-sm-12 mb-30">
                <div class="card-box pd-30 height-100-p">
                    <h4 class="mb-30 h4">แผนที่</h4>
                </div>
            </div>
            <div class="col-lg-7 col-md-12 col-sm-12 mb-30">
                <div class="card-box pd-30 height-100-p">
                    <h4 class="mb-30 h4">ลูกค้าล่าสุด</h4>
                    <div class="faq-wrap">
                        <div id="accordion" *ngFor="let cus of lastinsert; let i = index">
                            <div class="card">
                                <div class="card-header">
                                    <button class="btn btn-block collapsed" data-toggle="collapse"
                                        [attr.data-target]="'#faq1-' + i" (click)="splitEmD(cus.ems_id)">
                                        <p>{{cus.cus_fullname}}</p>
                                    </button>
                                </div>
                                <div id="faq1-{{i}}" class="collapse">
                                    <div class="card-body">
                                        <div class="faq-wrap">
                                            <div id="accordion" *ngFor="let em of emList; let j = index">
                                                <div class="card" >
                                                    <div class="card-header">
                                                        <button class="btn btn-block collapsed" data-toggle="collapse"
                                                            [attr.data-target]="'#faq'+em" (click)="getEmData(em)">
                                                            ใบเสร็จเลขที่: {{em}}
                                                        </button>
                                                    </div>
                                                    <div id="faq{{em}}" class="collapse" data-parent="#accordion">
                                                        <div class="card-body">
                                                            <table class="table">
                                                                <thead>
                                                                    <tr>
                                                                        <th scope="col">รายการ</th>
                                                                        <th scope="col">หมวดหมู่</th>
                                                                        <th scope="col">สถานะ</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr *ngFor="let emd of emData; let x = index">
                                                                        <td>{{emd.eq_detail_name}}</td>
                                                                        <td>{{emd.category}}</td>
                                                                        <td>{{emd.status}}</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <app-footer></app-footer>
    </div>
</div>