.a {
    color: white;
}

.b {
    color: black;
}

.wrapper {
    text-align: center;
    color: rgb(133, 133, 133);
    font-size: 14pt;
    font-weight: bold;
}

 .text{
    padding-left: 20px;
    width: 69%;
}

.icon {
    padding-top: 12px;
    color: black;
    min-width: 40px;
    text-align: center;
    background-color: rgb(133, 133, 133);
  }


