<app-header></app-header>
<app-menu></app-menu>
<div class="main-container">
    <div class="pd-ltr-20">
        <div class="page-header">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="title">
                        <h4>หน้าหลัก</h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-3 mb-30">
                <div class="card-box height-70-p widget-style1">
                    <div class="d-flex flex-wrap align-items-center">
                        <div class="progress-data">
                            <circle-progress [percent]="20" [showSubtitle]="false" [space]="-6" [radius]="30"
                                [outerStrokeWidth]="6" [innerStrokeWidth]="6" [outerStrokeColor]="'#0494E2'"
                                [innerStrokeColor]="'#e7e8ea'" [animation]="true" [animationDuration]="100" [outerStrokeGradientStopColor]="'#43A9E0'">
                            </circle-progress>
                        </div>
                        <div class="widget-data ">
                            <div class="h4 mb-0">{{countRepair}}</div>
                            <div class="weight-600 font-14">รับซ่อม</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 mb-30">
                <div class="card-box height-70-p widget-style1">
                    <div class="d-flex flex-wrap align-items-center">
                        <div class="progress-data">
                            <circle-progress [percent]="20" [showSubtitle]="false" [space]="-6" [radius]="30"
                                [outerStrokeWidth]="6" [innerStrokeWidth]="6" [outerStrokeColor]="'#0B20E6'"
                                [innerStrokeColor]="'#e7e8ea'" [animation]="true" [animationDuration]="100" [outerStrokeGradientStopColor]="'#5260E4'">
                            </circle-progress>
                        </div>
                        <div class="widget-data">
                            <div class="h4 mb-0">{{countRent}}</div>
                            <div class="weight-600 font-14">เช่า - ยืม</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 mb-30">
                <div class="card-box height-70-p widget-style1">
                    <div class="d-flex flex-wrap align-items-center">
                        <div class="progress-data">
                            <circle-progress [percent]="20" [showSubtitle]="false" [space]="-6" [radius]="30"
                                [outerStrokeWidth]="6" [innerStrokeWidth]="6" [outerStrokeColor]="'#FFBA00'"
                                [innerStrokeColor]="'#e7e8ea'" [animation]="true" [animationDuration]="100" [outerStrokeGradientStopColor]="'#FFCC42'">
                            </circle-progress>
                        </div>
                        <div class="widget-data">
                            <div class="h4 mb-0">{{countTest}}</div>
                            <div class="weight-600 font-14">ทดสอบ</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 mb-30">
                <div class="card-box height-70-p widget-style1">
                    <div class="d-flex flex-wrap align-items-center">
                        <div class="progress-data">
                            <circle-progress [percent]="20" [showSubtitle]="false" [space]="-6" [radius]="30"
                                [outerStrokeWidth]="6" [innerStrokeWidth]="6" [outerStrokeColor]="'#FF8B00'"
                                [innerStrokeColor]="'#e7e8ea'" [animation]="true" [animationDuration]="100" [outerStrokeGradientStopColor]="'#FFA942'">
                            </circle-progress>
                        </div>
                        <div class="widget-data">
                            <div class="h4 mb-0">{{countBuy}}</div>
                            <div class="weight-600 font-14">ซื้อ</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-7 col-md-12 col-sm-12 mb-30">
                <!-- รายการคืนอุปกรณ์วันนี้ -->
                <div class="card-box pd-30 height-100-p">
                    <h4 class="mb-30 h4">รายการคืนอุปกรณ์วันนี้</h4>
                    <div id="compliance-trend" class="compliance-trend"></div>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">ลำดับ</th>
                                    <th scope="col">ลูกค้า</th>
                                    <th scope="col">หัวข้อ</th>
                                    <th scope="col">หมวดหมู่</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Envir</td>
                                    <td>Analyzer SO2</td>
                                    <td>รับซ่อม</td>
                                    <!-- <td><span class="badge badge-primary2">รับซ่อม</span></td> -->
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Envir2</td>
                                    <td>NOx</td>
                                    <td>เช่า-ยืม</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Envir3</td>
                                    <td>Analyzer SO2</td>
                                    <td>เช่า-ยืม</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-12 col-sm-12 mb-30">
                <!-- อุปกรณ์เกินกำหนดคืน -->
                <div class="card-box pd-30 height-100-p">
                    <h4 class="mb-30 h4">อุปกรณ์เกินกำหนดคืน</h4>
                    <div class="browser-visits">
                        <ul>
                            <li class="d-flex flex-wrap align-items-center">
                                <div class="browser-name">No.5678 - Envir55</div>
                                <div class="visit"><span class="badge badge-pill badge-primary3">เกินกำหนด 3 วัน</span>
                                </div>
                            </li>
                            <li class="d-flex flex-wrap align-items-center">
                                <div class="browser-name">No.5676 - Envir56</div>
                                <div class="visit"><span class="badge badge-pill badge-primary3">เกินกำหนด 2 วัน</span>
                                </div>
                            </li>
                            <li class="d-flex flex-wrap align-items-center">
                                <div class="browser-name">No.5675 - Envir57</div>
                                <div class="visit"><span class="badge badge-pill badge-primary3">เกินกำหนด 4 วัน</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div id="chart" class="chart"></div>
                </div>
            </div>
        </div>

        <!-- รายการล่าสุด -->
        <div class="pd-20 card-box mb-30">
            <div class="clearfix mb-20">
                <div class="pull-left">
                    <h4 class="text-blue h4">รายการล่าสุด</h4>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">ลำดับ</th>
                            <th scope="col">ลูกค้า</th>
                            <th scope="col">หัวข้อ</th>
                            <th scope="col">หมวดหมู่</th>
                            <th scope="col">วันที่รับงาน</th>
                            <th scope="col">สถานะ</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Envir11</td>
                            <td>Analyzer SO2</td>
                            <td>เช่า-ยืม</td>
                            <td>16/12/2020</td>
                            <td>อยู่ระหว่างการเช่า</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Envir12</td>
                            <td>Analyzer SO2</td>
                            <td>ซื้อ</td>
                            <td>16/12/2020</td>
                            <td>ส่งของให้ลูกค้า</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Envir33</td>
                            <td>Analyzer SO2</td>
                            <td>ทดสอบ</td>
                            <td>16/12/2020</td>
                            <td>อยู่ระหว่่างทดสอบ</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
</div>