
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">

            <div class="page-header">
                <div class="row">
                <div class="col-6 col-sm-3">
                    <div class="header-left">
                        <h4 class="p">Envirservice</h4>
                    </div>
                </div>
                <div class="col-6 col-sm-3">
                    <div class="header-right">
                        <div class="user-info-dropdown">
                            <div class="dropdown">
                                <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                                    <span class="user-icon">
                                        <img src="assets/vendors/images/deskapp.png" alt="">
    
                                    </span>
                                    <span class="user-name">user01</span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
                                    <a class="dropdown-item"><i class="dw dw-user1"></i> โปรไฟล์</a>
                                    <a class="dropdown-item" href="login.html"><i class="dw dw-logout"></i> ลงชื่อออก</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>

            <div class="pd-20 card-box mb-30">
                <div class="clearfix mb-20">
                    <div class="pull-left">
                        <h4 class="text-blue h4">รายการรับซ่อม</h4>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">ลำดับ</th>
                                <th scope="col">หัวข้อ</th>
                                <th scope="col">ลูกค้า</th>
                                <th scope="col">สถานะ</th>
                                <th scope="col">จัดการ</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">3</th>
                                <td>Envir3</td>
                                <td>CO2/NOx</td>
                                <td>อยู่ระหว่างการเช่ายืม</td>
                                <td>
                                    <div class="btn-list">
                                        <span class="btn btn-success btn-sm" type="button" value="submit"><i class="icon-copy fa fa-pencil-square-o btn-size" aria-hidden="true"></i></span>
                                        <span class="btn btn-secondary btn-sm" type="button" value="submit"><i class="icon-copy fa fa-print btn-size" aria-hidden="true"></i></span>
                                        <span class="btn btn-danger btn-sm" type="button" value="submit"><i class="icon-copy fa fa-trash btn-size" aria-hidden="true"></i></span>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
