<app-header></app-header>
<app-menu></app-menu>
<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">

            <div class="page-header">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="title">
                            <h4>อุปกรณ์</h4>
                        </div>
                        <nav aria-label="breadcrumb" role="navigation">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"> <a [routerLink]="['/home']">หน้าหลัก</a></li>
                                <li class="breadcrumb-item active" aria-current="page">อุปกรณ์</li>

                            </ol>
                        </nav>
                    </div>
                    <div class="col-md-6 col-sm-12 text-right">
                        <button type="button" class="btn btn-warning" (click)="add_eq()">เพิ่มอุปกรณ์</button>
                    </div>
                </div>
            </div>

            <!-- equipmant list -->
            <div class="product-wrap">
                <div class="product-list">
                    <ul class="row">
                        <li class="col-lg-4 col-md-6 col-sm-12" *ngFor="let eq of eq_data | paginate : {
                            itemsPerPage: tableSize,
                            currentPage: page,
                            totalItems: count
                          };
                    let i = index">
                            <div class="product-box wrapper">
                                <div class="product-caption">
                                    <h4>{{eq.eq_name}}</h4>
                                    <h6>จำนวน {{eq_count[i]}} อุปกรณ์</h6>
                                    <p style="color: #6c757d;">{{eq.category}}</p>
                                    <div class="wrapper btn-list">
                                        <button type="button" class="btn btn-outline-primary"
                                            (click)="onClickDetail(eq.id, eq.eq_name)">เพิ่มเติม</button>
                                        <button type="button" class="btn btn-outline-danger"
                                            (click)="delete(eq.id, eq.eq_name)">ลบ</button>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="clearfix justify-content-center">
            <pagination-controls previousLabel="Prev" nextLabel="Next"
                (pageChange)="onTableDataChange($event)">
            </pagination-controls>
        </div>
        <app-footer>
        </app-footer>

    </div>