<app-header></app-header>
<app-menu></app-menu>
<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <div class="page-header">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="title">
                            <h4>ลูกค้า</h4>
                        </div>
                        <nav aria-label="breadcrumb" role="navigation">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a [routerLink]="[ '/home']">หน้าหลัก</a></li>
                                <li class="breadcrumb-item " aria-current="page"><a
                                        [routerLink]="[ '/customer']">ลูกค้า</a></li>
                                <li class="breadcrumb-item active" aria-current="page">ข้อมูลลูกค้า</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="col-md-6 text-right">
                        <button type="button" class="btn btn-danger" id="sa-params" (click)="delete()">ลบ</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- user information -->
                <div class="col-xl-4 col-lg-8 col-md-8 col-sm-12 mb-30" *ngFor="let cus of cusData">
                    <div class="pd-20 card-box ">
                        <h5 class="text-center h4 mb-0">{{cus.cus_fullname}}</h5>
                        <p class="text-center text-muted font-16">ID: {{cus.id}}</p>
                        <div class="profile-info">
                            <h5 class="mb-20 h5 text-blue">ข้อมูลการติดต่อ</h5>
                            <ul>
                                <li>
                                    <span>อีเมล:</span>
                                    {{cus.cus_email}}
                                </li>
                                <li>
                                    <span>เบอร์โทร:</span>
                                    0{{cus.cus_phone}}
                                </li>
                                <li>
                                    <span>ที่อยู่:</span>
                                    {{address}}
                                </li>
                                <li>
                                    <span>การแก้ไขข้อมูลครั้งล่าสุด:</span>
                                    {{cus.cus_date_edit}}
                                </li>
                                <li>
                                    <span>จำนวนการใช้งาน:</span>
                                    {{cusProfile.length}} ครั้ง
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 mb-30">
                    <div class="card-box height-100-p overflow-hidden">
                        <div class="profile-tab height-100-p">
                            <div class="tab height-100-p">
                                <ul class="nav nav-tabs customtab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" data-toggle="tab" href="#timeline" role="tab">
                                            ประวัติการใช้งาน</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#setting" role="tab">แก้ไข</a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <!-- Timeline Tab start -->
                                    <div class="tab-pane fade show active" id="timeline" role="tabpanel">
                                        <div class="pd-20">
                                            <div class="profile-timeline">
                                                <div class="profile-timeline-list">
                                                    <ul>
                                                        <li>
                                                            <div class="date" >เช่า-ยืม</div>
                                                            <div class="task-name">
                                                                <i> </i> <br>
                                                            </div>
                                                            <p *ngFor="let cus of rental; let i = index">{{cus}}
                                                            </p>
                                                        </li>

                                                    </ul>
                                                </div>
                                                <div class="profile-timeline-list">
                                                    <ul>
                                                        <li>
                                                            <div class="date">ทดสอบ</div>
                                                            <div class="task-name">
                                                                <i> </i> <br>
                                                            </div>
                                                            <p *ngFor="let cus of testing; let i = index">{{cus}}
                                                            </p>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="profile-timeline-list">
                                                    <ul>
                                                        <li>
                                                            <div class="date">ซ่อมบำรุง</div>
                                                            <div class="task-name">
                                                                <i> </i> <br>
                                                            </div>
                                                            <p *ngFor="let cus of maintenanc; let i = index">{{cus}}
                                                            </p>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="profile-timeline-list">
                                                    <ul>
                                                        <li>
                                                            <div class="date">จำหน่าย</div>
                                                            <div class="task-name">
                                                                <i> </i> <br>
                                                            </div>
                                                            <p *ngFor="let cus of selling; let i = index">{{cus}}
                                                            </p>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Timeline Tab End -->

                                    <!-- Setting Tab start -->
                                    <div class="tab-pane fade height-100-p" id="setting" role="tabpanel">
                                        <div class="profile-setting">
                                            <form>
                                                <ul class="profile-edit-list row">
                                                    <li class="weight-500 col-md-6">
                                                        <h4 class="text-blue h5 mb-20">แก้ไขข้อมูลลูกค้า</h4>
                                                        <div class="form-group">
                                                            <label>ชื่อลูกค้า :</label>
                                                            <input class="form-control form-control-lg" type="text"
                                                                [(ngModel)]="cusEdit.cus_fullname" name="cus_fullname"
                                                                required="required">
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Email :</label>
                                                            <input class="form-control form-control-lg" type="email"
                                                                [(ngModel)]="cusEdit.cus_email" name="cus_email"
                                                                required="required">
                                                        </div>
                                                        <div class="form-group">
                                                            <label>เบอร์โทรศัพท์ :</label>
                                                            <input class="form-control form-control-lg " type="text"
                                                                [(ngModel)]="cusEdit.cus_phone" name="cus_phone"
                                                                required="required">
                                                        </div>

                                                    </li>
                                                    <li class="weight-500 col-md-6">
                                                        <h4 class="text-blue h5 mb-20">แก้ไขที่อยู่ลูกค้า</h4>
                                                        <div class="row">
                                                            <div class="col-md-6 col-sm-12 form-group">
                                                                <label>เลขที่ :</label>
                                                                <input class="form-control form-control-lg" type="text"
                                                                    [(ngModel)]="cusEdit.number" name="number"
                                                                    required="required">
                                                            </div>
                                                            <div class="col-md-6 col-sm-12 form-group">
                                                                <label>หมู่ :</label>
                                                                <input class="form-control form-control-lg" type="text"
                                                                    [(ngModel)]="cusEdit.moo" name="moo"
                                                                    required="required">
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-6 col-sm-12 form-group">
                                                                <label>ซอย :</label>
                                                                <input class="form-control form-control-lg" type="text"
                                                                    [(ngModel)]="cusEdit.soi" name="soi"
                                                                    required="required">
                                                            </div>
                                                            <div class="col-md-6 col-sm-12 form-group">
                                                                <label>ถนน :</label>
                                                                <input class="form-control form-control-lg" type="text"
                                                                    [(ngModel)]="cusEdit.road" name="road"
                                                                    required="required">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label>แขวง/ตำบล :</label>
                                                            <input class="form-control form-control-lg" type="text"
                                                                [(ngModel)]="cusEdit.sub_district" name="sub_district"
                                                                required="required">
                                                        </div>
                                                        <div class="form-group">
                                                            <label>เขต/อำเภอ :</label>
                                                            <input class="form-control form-control-lg" type="text"
                                                                [(ngModel)]="cusEdit.district" name="district"
                                                                required="required">
                                                        </div>
                                                        <div class="form-group">
                                                            <label>จังหวัด :</label>
                                                            <input class="form-control form-control-lg" type="text"
                                                                [(ngModel)]="cusEdit.province" name="province"
                                                                required="required">
                                                        </div>
                                                        <div class="form-group">
                                                            <label>รหัสไปรษณีย์ :</label>
                                                            <input class="form-control form-control-lg" type="text"
                                                                [(ngModel)]="cusEdit.postal_code" name="postal_code"
                                                                required="required">
                                                        </div>
                                                    </li>
                                                </ul>
                                            </form>
                                            <div class="btn-list warpper pd-bottom">
                                                <button type="submit" class="btn btn-success"
                                                    (click)="update()">บันทึก</button>
                                                <button type="button" class="btn btn-danger">ยกเลิก</button>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Setting Tab End -->

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>