.btn-size{
    width: 10px;
}

.clearfix {
    position: relative;
    font-size: 16px;
    text-align: center;
  }
  .tt {
    word-wrap: break-word;  
    text-align: left;
}
.tab-15{
    width: 15%;
    text-align: center;
}
.tab-35{
    width: 35%;
}