<app-header></app-header>
<app-menu></app-menu>
<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <div class="page-header">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="title">
                            <h4>รับงาน</h4>
                        </div>
                        <nav aria-label="breadcrumb" role="navigation">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a [routerLink]="[ '/home']">หน้าหลัก</a></li>
                                <li class="breadcrumb-item active" aria-current="page">รับงาน</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>

            <div class="pd-20 card-box mb-30">
                <div class="clearfix">
                    <h4 class="text-blue h4">ข้อมูลการรับงาน</h4>
                    <p class="mb-30">เพิ่มรายละเอียดการรับงาน</p>
                </div>
                <div class="wizard-content">
                    <form class="tab-wizard wizard-circle wizard" autocomplete="off">
                        <h5>ข้อมูลลูกค้า</h5>
                        <section>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>ชื่อลูกค้า :</label>
                                        <input type="text" class="form-control" name="input_cus"
                                            [(ngModel)]='cus_select' (ngModelChange)="getAllCustomers()">
                                        <table class="table">
                                            <tbody *ngFor="let cus of cus  | filter:cus_select">
                                                <tr>
                                                    <td>{{cus}}</td>
                                                    <td class="ten"><button class="btn btn-link"
                                                            (click)="show_cus(cus)">select</button></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Email Address :</label>
                                        <input type="email" class="form-control" name="email" [(ngModel)]="email">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>เบอร์โทรศัพท์ :</label>
                                        <input type="text" class="form-control" name="phone" [(ngModel)]="phone">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>ที่อยู่ :</label>
                                        <input type="text" class="form-control" name="address" [(ngModel)]="address">
                                    </div>
                                </div>
                            </div>
                        </section>

                        <!-- Step 2 -->
                        <h5>รายละเอียดงาน</h5>
                        <section>
                            <form [formGroup]="form">
                                <div class="row">
                                    <div class="col-md-6 form-group">
                                        <div class="form-group" [ngClass]="displayFieldCss('category')">
                                            <label for="category" class="control-label required">หมวดหมู่ :</label>
                                            <select id="category" class="custom-select form-control" id="catagory"
                                                name="catagory_select" formControlName="category">
                                                <option value=" "> </option>
                                                <option *ngFor="let c of cg" value="{{c}}">{{c}}</option>
                                            </select>
                                            <app-field-error-display [displayError]="isFieldValid('category')"
                                                errorMsg="*กรุณาใส่ข้อมูลให้ครบถ้วน">
                                            </app-field-error-display>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group" [ngClass]="displayFieldCss('date_get_job')">
                                            <label for="date_get_job" class="control-label required">วันที่รับงาน
                                                :</label>
                                            <input id="date_get_job" type="date" class="form-control"
                                                placeholder="เลือกวันที่" name="d_getjob"
                                                formControlName="date_get_job">
                                            <app-field-error-display [displayError]="isFieldValid('date_get_job')"
                                                errorMsg="*กรุณาใส่ข้อมูลให้ครบถ้วน">
                                            </app-field-error-display>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 form-group">
                                        <div class="form-group" [ngClass]="displayFieldCss('eq_detail_id')">
                                            <label for="eq_detail_id" class="control-label required">อุปกรณ์ :</label>
                                            <select id="eq_detail_id" class="custom-select form-control"
                                                name="eq_detail_id" formControlName="eq_detail_id">
                                                <option value=" "> </option>
                                                <option *ngFor="let eqd of eqd_list" value="{{eqd.id}}">{{eqd.id}} :
                                                    {{eqd.eq_detail_name}}</option>
                                            </select>

                                            <app-field-error-display [displayError]="isFieldValid('eq_detail_id')"
                                                errorMsg="*กรุณาใส่ข้อมูลให้ครบถ้วน">
                                            </app-field-error-display>
                                        </div>
                                        <button type="reset" class="btn btn-success" data-toggle="modal"
                                            data-target="#Insert-eq-modal">เพิ่มอุปกรณ์ใหม่</button>

                                        <div class="modal fade" id="Insert-eq-modal" tabindex="-1" role="dialog"
                                            aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h4 class="modal-title warpper" id="myLargeModalLabel">
                                                            เพิ่มอุปกรณ์
                                                        </h4>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                            aria-hidden="true">×</button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form>
                                                            <div>
                                                                <div class="form-group">
                                                                    <div class="row pad-l">
                                                                        <label class="text"
                                                                            for="name">เลือกอุปกรณ์</label>
                                                                        <button class="btn btn-link text r"
                                                                            data-dismiss="modal"
                                                                            [routerLink]="[ '/equipment']">เพิ่มอุปกรณ์</button>
                                                                    </div>
                                                                    <select class="custom-select form-control"
                                                                        name="eq_id" [(ngModel)]="eqd_new.eq_id">
                                                                        <option *ngFor="let eq of eq_list"
                                                                            value="{{eq.id}}">{{eq.eq_name}}
                                                                        </option>
                                                                    </select>
                                                                </div>
                                                                <div class="form-group">
                                                                    <input type="text" class="form-control" id="id"
                                                                        name="id" [(ngModel)]="eqd_new.id"
                                                                        placeholder="SN.">
                                                                </div>
                                                                <div class="form-group">
                                                                    <input type="text" class="form-control"
                                                                        id="eq_detail_name" name="eq_detail_name"
                                                                        [(ngModel)]="eqd_new.eq_detail_name"
                                                                        placeholder="ชื่อรายการอุปกรณ์">
                                                                </div>
                                                                <div class="form-group">
                                                                    <input type="number" class="form-control"
                                                                        id="eq_detail_amount" name="eq_detail_amount"
                                                                        [(ngModel)]="eqd_new.eq_detail_amount" min="1"
                                                                        placeholder="จำนวนอุปกรณ์">
                                                                </div>
                                                            </div>
                                                        </form>
                                                        <p class="error-msg warpper">
                                                            *กรุณากรอกข้อมูลอุปกรณ์ให้ครบทุกช่องก่อนกดบันทึก</p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-danger"
                                                            data-dismiss="modal">ยกเลิก</button>
                                                        <button type="reset" class="btn btn-primary"
                                                            data-dismiss="modal" (click)="create_eqd()"
                                                            value="submit">บันทึก</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group" [ngClass]="displayFieldCss('date_end_job')">
                                            <label for="date_end_job" class="control-label required">กำหนดวันที่ส่งคืน
                                                :</label>
                                            <input id="date_end_job" type="date" class="form-control"
                                                placeholder="เลือกวันที่" id="dateEnd" name="d_endjob"
                                                formControlName="date_end_job">
                                            <app-field-error-display [displayError]="isFieldValid('date_end_job')"
                                                errorMsg="*กรุณาใส่ข้อมูลให้ครบถ้วน">
                                            </app-field-error-display>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group" [ngClass]="displayFieldCss('amount')">
                                            <label for="amount" class="control-label required">จำนวน :</label>
                                            <input id="amount" name="count_select" type="number" class="form-control"
                                                autocomplete="off" min=1 formControlName="amount">
                                            <app-field-error-display [displayError]="isFieldValid('amount')"
                                                errorMsg="*กรุณาใส่ข้อมูลให้ครบถ้วน">
                                            </app-field-error-display>
                                        </div>
                                        <div class="warpper">
                                            <button class="btn btn-success" (click)="add_getJob()">เพิ่ม</button>
                                        </div>
                                    </div>

                                </div>
                            </form>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>หมายเหตุ :</label>
                                        <textarea class="form-control" name="annotation"
                                            [(ngModel)]="annotation"></textarea>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <br><br>
                        <!-- Step 3 -->
                        <h5>รายการอุปกรณ์</h5>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">หมวดหมู่</th>
                                    <th scope="col">อุปกรณ์</th>
                                    <th scope="col">จำนวน</th>
                                    <th scope="col">วันที่ส่งคืน</th>
                                    <th scope="col">จัดการ</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of formArray ; let i = index">
                                    <td>{{item.category}}</td>
                                    <td>{{item.eq_detail_name}}</td>
                                    <td>{{item.amount}}</td>
                                    <td>{{item.date_end}}</td>
                                    <td>
                                        <button class="btn btn-danger btn-sm" type="button" value="submit"
                                            (click)="deleteRow(i)"><i class="icon-copy fa fa-trash btn-size"
                                                aria-hidden="true"></i></button>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </form>
                </div>
                <div class="warpper">
                    <div class="btn-list">
                        <button id="save" type="button" class="btn btn-success" (click)="save()">บันทึก</button>
                        <button type="reset" class="btn btn-danger" [routerLink]="[ '/home']">ยกเลิก</button>
                    </div>
                </div>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
</div>