.warpper {
    text-align: center;
}

.ten {
    width: 10%
}

.pad-l{
    padding-left: 4%;
}

.text{
    width: 50%
}

.r {
    text-align: right;
    padding-right: 4%;
    padding-top: 0%;
}

.error-msg {
    color: #a94442;
    font-size: 10pt;
  }

.err{
    color: red;
    font-size: 10pt;
    text-align: right;
}
.h{
    width: 50%;
}
