<app-header></app-header>
<app-menu></app-menu>
<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="xs-pd-20-10 pd-ltr-20">

            <div class="page-header">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="title">
                            <h4>รายละเอียดงาน</h4>
                        </div>
                        <nav aria-label="breadcrumb" role="navigation">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a [routerLink]="[ '/home']">หน้าหลัก</a></li>
                                <li class="breadcrumb-item"><a (click)="goBack()" href="javascript:;">รายการ{{jobDetail[0]?.category}}</a></li>
                                <li class="breadcrumb-item active" aria-current="page">รายละเอียดงาน</li>
                            </ol>
                        </nav>
                    </div>
                    <!-- <div class="col-md-6 col-sm-12 text-right">
                        <button type="button" class="btn btn-outline-secondary" (click)="onClickBack()">ย้อนกลับ</button>
                    </div> -->
                </div>
            </div>

            <div class="row">
                <div class="col-xl-4 col-lg-8 col-md-8 col-sm-12 mb-30">
                    <div class="pd-20 card-box ">
                        <h5 class="text-center h5 mb-0">{{jobDetail[0]?.cus_fullname}}</h5>
                        <p class="text-center text-muted font-14"><span>รหัสลูกค้า:</span> {{jobDetail[0]?.cus_id}}</p>
                        <div class="profile-info">
                            <ul>
                                <li>
                                    <span>อีเมล:</span>
                                    {{jobDetail[0]?.cus_email}}
                                </li>
                                <li>
                                    <span>เบอร์โทร:</span>
                                    {{jobDetail[0]?.cus_phone}}
                                </li>
                                <li>
                                    <span>ที่อยู่:</span>
                                    {{jobDetail[0]?.number}} ม. {{jobDetail[0]?.moo}} ตำบล{{jobDetail[0]?.sub_district}} อำเภอ{{jobDetail[0]?.district}}
                                    จังหวัด{{jobDetail[0]?.province}} {{jobDetail[0]?.postal_code}}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 mb-30">
                    <div class="pd-20 card-box">

                        <div class="row" >
                            <h5 class="col-sm-6 h5 mb-0">เลขที่ใบเสร็จ: {{jobDetail[0]?.id}}</h5>
                            <p class="col-sm-6 text-right font-14" ><span>วันที่รับงาน: </span>{{jobDetail[0]?.date_get_job}}</p>
                        </div>
                        <div class="row">
                            <p class="col-sm-6 h5 text-left text-muted font-14"></p>
                            <p class="col-sm-6 text-right font-14"><span>วันที่ครบกำหนด: </span>{{jobDetail[0]?.date_end_job}}</p>
                        </div>

                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">ลำดับ</th>
                                    <th scope="col">รายการ</th>
                                    <th scope="col">หมวดหมู่</th>
                                    <th scope="col">สถานะ</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let detail of jobDetail; let i = index">
                                    <td>{{i+1}}</td>
                                    <td>{{detail.eq_detail_name}}</td>
                                    <td>{{detail.category}}</td>
                                    <td>{{detail.status}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="btn-list wrapper">
                            <span class="btn btn-success btn-sm" type="button" value="submit"
                            [routerLink]="[ '/job/edit/'+jobDetail[0]?.id]">
                                <i class="icon-copy fa fa-pencil-square-o btn-size" aria-hidden="true"></i>
                            </span>
                            <span class="btn btn-secondary btn-sm" type="button" value="submit" [routerLink]="[ '/invoice/'+id]"><i
                                    class="icon-copy fa fa-print btn-size" aria-hidden="true"></i></span>
                            <span class="btn btn-danger btn-sm" type="button" value="submit" (click)="onClickDelete()"><i
                                    class="icon-copy fa fa-trash btn-size" aria-hidden="true"></i></span>
                        </div>
                    </div>
                </div>

            </div>
            <app-footer></app-footer>
        </div>
    </div>
</div>