<app-header></app-header>
<app-menu></app-menu>

<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">

            <div class="page-header">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="title">
                            <h4>โปรไฟล์</h4>
                        </div>
                        <nav aria-label="breadcrumb" role="navigation">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"(click) = "onClickHome()"><a [routerLink]="[ '/home']">หน้าหลัก</a></li>
                                <li class="breadcrumb-item active" aria-current="page"><a href="javascript:;">โปรไฟล์</a></li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- user information -->
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-30">
                    <div class="pd-20 card-box height-100-p">
                        <div class="profile-photo">
                            <img src="assets/vendors/images/deskapp.png" alt="" class="avatar-photo">       
                        </div>
                        <h5 class="text-center h5 mb-0">{{adminProfile.username}}</h5>
                        <p class="text-center text-muted font-14">{{adminProfile.id}}</p>
                        <div class="profile-info">
                            <h5 class="mb-20 h5 text-blue">ข้อมูลการติดต่อ</h5>
                            <ul>
                                <li>
                                    <span>อีเมล:</span>
                                    {{adminProfile.admin_email}}
                                </li>
                                <li>
                                    <span>เบอร์โทร:</span>
                                    0{{adminProfile.admin_phone}}
                                </li>
                                <li>
                                    <span>เข้าสู่ระบบล่าสุด:</span>
                                    {{adminProfile.last_login}}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- setting -->
                <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 mb-30">
                    <div class="card-box height-100-p overflow-hidden">
                        <div class="profile-tab height-100-p">
                            <div class="tab height-100-p">
                                
                                <ul class="nav nav-tabs customtab" >
                                    <li class="nav-item">
                                        <a class="nav-link active"  href="#setting"
                                            role="tab">ตั้งค่า</a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <!-- Setting Tab start -->
                                    <div class="tab-pane fade height-100-p show active" id="setting" role="tabpanel">
                                        <div class="profile-setting">
                                            <div class="pd-20 card-box mb-30">
                                                <div class="clearfix">
                                                    <div class="pull-left">
                                                        <h4 class="text-blue h4">แก้ไขข้อมูลผู้ใช้</h4>
                                                    </div>
                                                </div>
                                                <form>
                                                    <div class="form-group row">
                                                        <label class="col-sm-12 col-md-2 col-form-label">อีเมล</label>
                                                        <div class="col-sm-12 col-md-10">
                                                            <input class="form-control" type="email" name="email" [(ngModel)]="admin_edit.admin_email">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-sm-12 col-md-2 col-form-label">เบอร์โทร</label>
                                                        <div class="col-sm-12 col-md-10">
                                                            <input class="form-control" type="text" name="phone" [(ngModel)]="admin_edit.admin_phone">
                                                        </div>
                                                    </div> 
                                                    <div class="form-group row">
                                                        <label class="col-sm-12 col-md-2 col-form-label">แก้ไขรหัส</label>
                                                        <div class="col-sm-12 col-md-10">
                                                            <input class="form-control" type="text" name="password" [(ngModel)]="admin_edit.password">
                                                        </div>
                                                    </div> 
                                                    <div class="wrapper">
                                                        <button type="submit" class="btn btn-primary" (click)="updateAdmin()">บันทึกการแก้ไข</button>
                                                    </div>
            
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Setting Tab End -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
</div>