header-right .brand-logo{
    display:table
}
.header-right .menu-icon{
    display:block;
    padding-left:15px;
    padding-top:7px
}
.footer-wrap{
    width:100%
}
.mobile-menu-overlay{
    display:block;opacity:0;visibility:hidden
}
.mobile-menu-overlay.show{
    opacity:.6;visibility:visible
}
.header-right{
    width:100%
}

.wrapper {
    text-align: center;
    color: rgb(133, 133, 133);
    font-size: 14pt;
    font-weight: bold;
}

.right {
    text-align: right;
}
.al {
    text-align: center;
    width: 100%;
}

#map {
    height: 400px;
  }
.map-container {
    position:sticky;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0px;
} 
.map-frame {
    border: 2px solid black;
    height: 100%;
}
.tablefix {
    width: 40%;
}