<div class="pd-ltr-20 xs-pd-20-10">
    <div class="min-height-200px">
        <div class="page-header">
            <div class="row">
            <div class="col-6 col-sm-3">
                <div class="header-left">
                    <h4 class="p">Envirservice</h4>
                </div>
            </div>
        </div>
        </div>
        <div class="col-12 col-sm-6">
        </div>
        <div class="row ">
            <div class="col-6 col-sm-3">
                <div class="col-xl-1.5 mb-30">
                    <div class="card-box height-100-p widget-style1">
                        <div class="d-flex flex-wrap align-items-center">
                            <div class="progress-data" style="position: relative;">              
                                <circle-progress [percent]="percenFix" [showSubtitle]="false" [space]="-6" [radius]="30"
                                [outerStrokeWidth]="6" [innerStrokeWidth]="6" [outerStrokeColor]="'#0B20E6'"
                                [innerStrokeColor]="'#e7e8ea'" [animation]="true" [animationDuration]="100"
                                [outerStrokeGradientStopColor]="'#0494E2'">
                            </circle-progress>           
                            </div>
                            <div class="widget">
                                <div class="weight-600 font-14 b">ซ่อมบำรุง</div>
                                <!-- <div class="font-12 mb-0">งานทั้งหมด: </div>
                                <div class="font-12 mb-0">งานที่เสร็จสิ้น:</div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-3">
                <div class="col-xl-1.5 mb-30">
                    <div class="card-box height-100-p widget-style1">
                        <div class="d-flex flex-wrap align-items-center">
                            <div class="progress-data">
                                <circle-progress [percent]="percenRental" [showSubtitle]="false" [space]="-6"
                                    [radius]="30" [outerStrokeWidth]="6" [innerStrokeWidth]="6"
                                    [outerStrokeColor]="'#CC184E'" [innerStrokeColor]="'#e7e8ea'" [animation]="true"
                                    [animationDuration]="100" [outerStrokeGradientStopColor]="'#F76CAE'">
                                </circle-progress>
                            </div>
                            <div class="widget">
                                <!-- <div class="h4 mb-0">test</div> -->
                                <div class="weight-600 font-14 b">เช่า - ยืม</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-3">
                <div class="col-xl-1.5 mb-30">
                    <div class="card-box height-100-p widget-style1">
                        <div class="d-flex flex-wrap align-items-center">
                            <div class="progress-data">
                                <circle-progress [percent]="percenTest" [showSubtitle]="false" [space]="-6"
                                    [radius]="30" [outerStrokeWidth]="6" [innerStrokeWidth]="6"
                                    [outerStrokeColor]="'#016E78'" [innerStrokeColor]="'#e7e8ea'" [animation]="true"
                                    [animationDuration]="100" [outerStrokeGradientStopColor]="'#00B454'">
                                </circle-progress>
                            </div>
                            <div class="widget">
                                <div class="weight-600 font-14 b">ทดสอบ</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-3">
                <div class="col-xl-1.5 mb-30">
                    <div class="card-box height-100-p widget-style1">
                        <div class="d-flex flex-wrap align-items-center">
                            <div class="progress-data">
                                <circle-progress [percent]="percenSell" [showSubtitle]="false" [space]="-6"
                                [radius]="30" [outerStrokeWidth]="6" [innerStrokeWidth]="6"
                                [outerStrokeColor]="'#FF3900'" [innerStrokeColor]="'#e7e8ea'" [animation]="true"
                                [animationDuration]="100" [outerStrokeGradientStopColor]="'#FFBA00'">
                            </circle-progress>
                            </div>
                            <div class="widget">
                                <div class="weight-600 font-14 b">จำหน่าย</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-7 col-md-12 col-sm-12 mb-30">
                <div class="card-box pd-30 height-100-p">
                    <h4 class="mb-30 h4">รายการคืนอุปกรณ์วันนี้</h4>
                    <div id="compliance-trend" class="compliance-trend"></div>
                    <div *ngIf="today">
                        <p class="wrapper">ไม่มีรายการคืนอุปกรณ์วันนี้</p>
                    </div>
                    <div class="table-responsive" *ngIf="todayShow">
                        <table class="table table-striped">
                            <thead>
                                <tr>

                                    <th scope="col">ลูกค้า</th>

                                    <th scope="col">หมวดหมู่</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let list of todaylist; let i = index">

                                    <td>{{list.cus_fullname}}</td>

                                    <td>{{list.category}}</td>
                                    <!-- <td><span class="badge badge-primary2">รับซ่อม</span></td> -->
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-12 col-sm-12 mb-30">
                <div class="card-box pd-30 height-100-p">
                    <h4 class="mb-30 h4">อุปกรณ์เกินกำหนดคืน</h4>
                    <div class="browser-visits">
                        <div *ngIf="over">
                            <p class="wrapper">ไม่มีรายการเกินกำหนดคืนวันนี้</p>
                        </div>
                        <ul>
                            <li class="d-flex flex-wrap align-items-center" *ngFor="let due of overdue; let i = index">
                                <div class="browser-name">{{due.eq_detail_id}} -
                                    {{due.eq_detail_name}}</div>
                                <div class="visit"><span class="badge badge-pill badge-primary3 ">เกินกำหนด {{due.date}} วัน</span>
                                </div>
                            </li>  
                        </ul>
                    </div>
                    <div id="chart" class="chart"></div>
                </div>
            </div>
        </div>
        
            <!-- แผนที่ -->
        <div class="faq-wrap">
            <div id="accordion2">
                <div class="card">
                    <div class="card-header">
                        <button class="btn btn-block" data-toggle="collapse" data-target="#faq2">
                            <h4 class="text-blue h4 text">แผนที่</h4>
                        </button>
                    </div>
                    <div id="faq2" class="collapse show" data-parent="#accordion2">
                        <div class="card-body">
                            <div class="map-container">
                                <div id="map"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <!-- รายการล่าสุด -->
            <div class="faq-wrap">
                <div id="accordion">
                    <div class="card">
                        <div class="card-header">
                            <button class="btn btn-block" data-toggle="collapse" data-target="#faq1">
                                <h4 class="text-blue h4 text">รายการล่าสุด</h4>
                            </button>
                        </div>
                        <div id="faq1" class="collapse show" data-parent="#accordion">
                            <div class="card-body">
                                <div class="pd-20 card-box mb-30">
                                    <div class="clearfix mb-20">
                                        <div class="row">
                                            <!-- <h4 class="text-blue h4 text">รายการล่าสุด</h4> -->
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th scope="col" class="tablefix">เลขที่</th>
                                                    <th scope="col" class="right">ลูกค้า</th>       
                                                    <!-- <th scope="col">สถานะ</th> -->
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let last of lastinsert; let i = index">                   
                                                    <td ><a href="javascript:;"><strong>{{last.id}}</strong></a></td>
                                                    <td class="right"><a href="javascript:;">{{last.cus_fullname}}</a></td>                 
                                                    <!-- <td><a href="javascript:;">{{last.status}}</a></td> -->
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <button class="btn btn-link al"><a [routerLink]="['/alljob']">ทั้งหมด</a></button>
                            </div>
                        </div>
                    </div>
                </div>
            
        </div>

    </div>
</div>