.dropdown-menu {
	position: relative;
	  width: 100%;
  }
  .dropdown-menu:before{
	  content: "";
	  width: 1px;
	  height: 100%;
	  position: absolute;
	  left: 31px;
	  top: 0;
	  display: none;
	background: none;
	border-left: 2px dashed #1b00ff;
  }
  .sidebar-menu .dropdown-menu li{
	position: relative;
	/* left: 20px;
	top: 50%; */
  }
  
  .dropdown-menu li > a:before{
	  content: "\f208";
	  position: absolute;
	  line-height: 1;
	  left: 28px;
	  top: 50%;
	  -webkit-transform: translate(0px, -50%);
	  -moz-transform: translate(0px, -50%);
	  -o-transform: translate(0px, -50%);
	  -ms-transform: translate(0px, -50%);
	  transform: translate(0px, -50%);
	  font-family: Ionicons;
	  -webkit-transition: all 0.3s ease-in-out;
	  -moz-transition: all 0.3s ease-in-out;
	  -o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
  }
  
  .dropdown-menu li.dropdown:before{
	  display: none;
  }
  
  .dropdown-menu li a{
	  display: block;
	  padding: 18px 15px 18px 60px;
	  font-size: 14px;
	  color: #000000;
	  font-weight: 300;
	  letter-spacing: 0.030em;
	  position: relative;
	  font-family: 'Inter', sans-serif;
	  -webkit-transition: all 0.3s ease-in-out;
	  -moz-transition: all 0.3s ease-in-out;
	  -o-transition: all 0.3s ease-in-out;
	  transition: all 0.3s ease-in-out;
  }
  
  .dropdown-menu li.dropdown > a:before{
	  display: none;
  }
  
  .dropdown-menu li a.dropdown-toggle{
	  padding: 18px 15px 18px 60px;
	font-size: 16px;
  }
  
  .dropdown-menu.child{
	  padding-left: 15px;
  }
  .dropdown-menu li:hover > a:before{
	  left: 18px;
  }
  .dropdown-menu li a:hover, .dropdown-menu li a.active{
	  color: #ffffff;
	  background-color: rgba(0, 0, 0, .4);
  }
  .sidebar-menu > ul > li > .dropdown-toggle.active{
	  background-color: rgba(0, 0, 0, .4);
  }
  .sidebar-light .sidebar-menu > ul > li > .dropdown-toggle.active{
	  background-color: #0b132b;
	  color: #ffffff;
  }
  .sidebar-light .sidebar-menu > ul > li > .dropdown-toggle.active .micon{
	  color: #ffffff;
  }
  .dropdown-toggle.active, .sidebar-menu .dropdown-toggle.active .micon{
	  color: #ffffff;
  }
  .sidebar-light .sidebar-menu .dropdown-menu li a{
	  color: #0b132b;
	  font-weight: 400;
  }
  .sidebar-light .sidebar-menu .dropdown-menu li a:hover,
  .sidebar-light .sidebar-menu .dropdown-menu li a.active{
	  color: #ffffff;
	  background-color: #0b132b;
  }
  .dropdown-toggle:focus{
	  outline: none !important;
  }

  .btn-block{
	  text-align: left;
	  padding-left: 0px;
  }
  /* .panel-body {
	overflow: auto;
  } */
  /* .dropdown-menu {
	  position: absolute;
  } */
  