<div class="sidebar-light">
    <div class="left-side-bar">
        <div class="brand-logo">
            <a href="index.html">
                <img src="assets/vendors/images/deskapp-.png" alt="" class="dark-logo">
                <!-- <img src="assets/vendors/images/deskapp-logo-white.svg" alt="" class="light-logo"> -->
            </a>
            <div class="close-sidebar" data-toggle="left-sidebar-close">
                <i class="ion-close-round"></i>
            </div>
        </div>
        <div class="menu-block customscroll">
            <div class="sidebar-menu">
                <ul id="accordion-menu">
                    <li class="dropdown">
                        <a href="javascript:;" class="dropdown-toggle no-arrow">
                            <span class="micon dw dw-house-1"></span><span class="mtext"></span><span>หน้าหลัก</span>
                        </a>
                    </li>

                    <li>
                        <a href="javascript:;" class="dropdown-toggle no-arrow" (click) = "onClickGetJob()">
                            <span class="micon icon-copy ion-ios-plus-empty" ></span><span class="mtext">รับงาน</span>
    
                        </a>
                    </li>

                    <li class="dropdown">
                        <a href="javascript:;" class="dropdown-toggle">
                            <span class="micon dw dw-edit-2"></span><span class="mtext">จัดการงาน</span>
                        </a>
                        <ul class="submenu">
                            <li><a href="form-basic.html">รับซ่อม</a></li>
                            <li><a href="advanced-components.html">เช่า - ยืม</a></li>
                            <li><a href="form-wizard.html">ทดสอบ</a></li>
                            <li><a href="html5-editor.html">ซื้อ</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="calendar.html" class="dropdown-toggle no-arrow">
                            <span class="micon dw dw-user-2"></span><span class="mtext">ลูกค้า</span>
                        </a>
                    </li>

                    <li>
                        <a class="dropdown-toggle no-arrow" (click) = "onClickEquip()" >
                            <span class="micon ion-navicon"></span><span class="mtext">อุปกรณ์</span>
                        </a>
                    </li>

                    <li>
                        <a class="dropdown-toggle no-arrow" (click) = "onClickSetting()">
                            <span class="micon dw dw-settings"></span><span class="mtext">ตั้งค่า</span>
                        </a>
                    </li>
                    
                
                </ul>
            </div>
        </div>
    </div>
</div>
