<app-header></app-header>
<app-menu></app-menu>
<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <div class="page-header">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="title">
                            <h4>ลูกค้า</h4>
                        </div>
                        <nav aria-label="breadcrumb" role="navigation">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a [routerLink]="[ '/home']">หน้าหลัก</a></li>
                                <li class="breadcrumb-item active" aria-current="page">ลูกค้า</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="col-md-6 col-sm-12 text-right">
                        <div class="row">
                            <div class="col-md-9 col-sm-6">
                                <div class="header-search">
                                    <form>
                                        <div class="form-group mb-0">
                                            <input list="search" type="text" class="form-control search-input" placeholder="ค้นหาที่นี่...."
                                            [(ngModel)]="selectedUser" (input) = "filterUsers()" name="serch">
                                            <datalist id="search">
                                                <option *ngFor="let option of serach; let i = index" 
                                                [value]="option.value">
                                                </option>
                                              </datalist>
                                              <!-- [routerLink]="['/profile/{{option.id}}']" -->
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <button type="button" class="btn btn-warning"
                                [routerLink]="['/cusadd']">เพิ่มลูกค้า</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <input type = "text" [(ngModel)]="selectedUser" (input) = "filterUsers()">
            <input list="search" [(ngModel)]="selectedUser" (input) = "filterUsers()">
            <datalist id="search">
                <option *ngFor="let option of options" value="{{option.value}}">
              </datalist> -->
            <div class="product-wrap">
                <div class="product-list">
                    <ul class="row">
                        <li class="col-lg-4 col-md-6 col-sm-12" *ngFor="let cus of customerDataList | paginate : {
                            itemsPerPage: tableSize,
                            currentPage: page,
                            totalItems: count
                          };
                    let i = index">
                            <div class="product-box wrapper">
                                <div class="product-caption ">
                                    <h4>{{cus.cus_fullname}}</h4>
                                    <h6><span>Email :</span> {{cus.cus_email}}</h6>
                                    <h6><span>เบอร์โทร :</span> {{cus.cus_phone}}</h6>
                                    <div class="wrapper btn-list">
                                        <button type="button" class="btn btn-outline-primary button1"
                                            (click)="onClick(cus.id)">เพิ่มเติม</button>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

                <!-- <div class="dataTables_paginate paging_simple_numbers mb-30 justify-content-center" id="DataTables_Table_2_paginate">
                    <div class="btn-toolbar justify-content-center mb-15">
                    <ul class="pagination">
                        <li class="paginate_button page-item previous disabled" id="DataTables_Table_2_previous"><a href="#"
                                aria-controls="DataTables_Table_2" data-dt-idx="0" tabindex="0" class="page-link"><i
                                    class="ion-chevron-left"></i></a></li>
                        <li class="paginate_button page-item active"><a href="#" aria-controls="DataTables_Table_2"
                                data-dt-idx="1" tabindex="0" class="page-link">1</a></li>
                        <li class="paginate_button page-item "><a href="#" aria-controls="DataTables_Table_2"
                                data-dt-idx="2" tabindex="0" class="page-link">2</a></li>
                        <li class="paginate_button page-item next" id="DataTables_Table_2_next"><a href="#"
                                aria-controls="DataTables_Table_2" data-dt-idx="3" tabindex="0" class="page-link"><i
                                    class="ion-chevron-right"></i></a></li>
                    </ul>
                </div>
                </div> -->
                <div class="clearfix justify-content-center">
                    <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
                    </pagination-controls>
                </div>
            </div>

            <app-footer> </app-footer>
        </div>

    </div>
</div>